.schedule-table {
  .schedule-button {
    text-align: right;
  }
  &__title {
    box-shadow: 0px 10px 10px 0px rgba(196, 193, 219, 0.4);
  }
}

.page-team-table {
  position: relative;
  .ant-card-bordered {
    border: 0;
  }
  .add-schedule {
    cursor: pointer;
  }
  .ant-card-head-title {
    font-size: 12px;
    font-weight: 500;
    color: rgba(37, 42, 46, 1);
    line-height: 20px;
  }
  .ant-card-wider-padding {
    .ant-card-head {
      background: rgba(247, 249, 252, 1);
      border-bottom: 0;
      padding: 0 24px;
      border-radius: 3px 3px 0px 0px;
    }
    .ant-card-body {
      padding: 0;
    }
  }
  &__title {
    .schedule-button {
      text-align: right;
    }
    box-shadow: 0px 10px 10px 0px rgba(196, 193, 219, 0.4);
  }
  &__item {
    display: flex;
    border-bottom: 1px solid rgba(230, 233, 239, 1);
    padding: 12px 24px;

    .mg-b(12px);
    .content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .time {
      font-size: 12px;
      font-weight: 400;
      color: rgba(155, 172, 185, 1);
      line-height: 17px;
    }
    .label,
    .value {
      font-size: 12px;
      font-weight: 400;
      color: rgba(155, 172, 185, 1);
      line-height: 16px;
    }
    .label {
      color: rgba(155, 172, 185, 1);
    }
    .value {
      color: rgba(37, 42, 46, 1);
    }
    .course-info {
      .course-name {
        font-size: 12px;
      }
      .address {
        display: flex;
      }
    }
    .reserve {
      display: flex;
      margin-top: 12px;
    }
    .action {
      text-align: right;
      font-size: 14px;
    }
  }
}
