.page-dashboard-count-card{
  padding: 16px 16px 0 16px;
  position: relative;
  height: 100%;
  .bg-gary{
    background:rgba(247,249,252,1);
  }
  .title{
    font-size:14px;
    font-weight:400;
    color:rgba(127,147,163,1);
    line-height:22px;
  }
  .i-count-up-box{
    display: flex;
    align-items: center;
    .i-count-up{
      font-size:28px;
      font-weight:bold;
      color:rgba(37,42,46,1);
      line-height:36px;
    }
    .trend{
      font-size:12px;
      color:rgba(255,94,65,1);
      line-height:14px;
    }
  }
  .card-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 16px;
    width: 100%;
    .label,
    .value{
      font-size:12px;
      font-weight:400;
      line-height:20px;
    }
    .label{
      color:rgba(155,172,185,1);
    }
    .value{
      font-weight:bold;
      color:rgba(37,42,46,1);
    }
  }
  
}