.page-login-wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .s(100vw, 100vh);
  background: #F8F8F8;
  .page-login{
    .s(1120px, 516px);
    .bg(#fff);
    box-shadow:0px 0px 20px 0px rgba(196,193,219,0.2);
    border-radius:4px;
    .left{
      position: relative;
      .w(580px);
      .h(100%);
      .introduce{
        position: absolute;
        top: -14px;
        right: 0;
        .s(506px, 546px);
        background:linear-gradient(46deg,rgba(24,144,255,1) 0%,rgba(24,56,255,1) 100%);
        box-shadow:0px 0px 20px 0px rgba(196,193,219,0.2);
        border-radius:4px;
      }
    }
  }
  
}
