.input-phone {
  position: relative;
  &__input {
    padding-left: 80px;
  }
  &__dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 0 12px 0 16px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      .bg(#333);
    }
  }
}
.ant-dropdown-content {
  max-height: 200px;
  overflow: auto;
}
