.drawer-switch-shop-wrap {
  z-index: 88!important;
  border-left: 1px solid #E9E9E9;
  .ant-drawer-header {
    padding: 24px;
  }
  .ant-drawer-close-x {
    font-size: 10px;
  }
  &.ant-drawer-open {
    left: 200px;
  }
  .drawer-switch-shop {
    &__body {

    }
  }
}
.drawer-switch-shop {
  &__to-brand {
    .bg(@white);
    .pos-a;
    bottom: 0;
    left: 0;
    .w(100%);
    .ta-c;
    .pd(20px);
    border-top: 1px solid #E9E9E9;
  }
}
.drawer-shops {
  .lh(1.5);
  .pd-b(60px);
  &__item {
    .pd(14px 24px);
    min-height: 92px;
    .mg-b(2px);
    .cur-p;
    &.current,
    &:hover {
      .bg(#E7F3FF);
    }
  }
  &__img {
    .fl-l;
    .s(64px, 64px);
    border-radius: 4px;
    .mg-r(10px);
  }
  &__name {
    .fz(14px);
    .c(@title);
    .tov-e;
  }
  &__address {
    .fz(12px);
    .c(@text);
    .tov-e;
  }
  &__tel {
    .fz(12px);
    .c(@text-light);
    .mg-t(4px);
    .tov-e;
  }
}

.drawer-switch-shop-wrap {
  .ant-drawer-body {
    .pd-lr(0);
  }
}