.drawer-switch-shop-wrap {
  z-index: 88!important;
  border-left: 1px solid #E9E9E9;
  .ant-drawer-header {
    padding: 24px;
  }
  .ant-drawer-close-x {
    font-size: 10px;
  }
  &.ant-drawer-open {
    left: 200px;
  }
  .drawer-switch-shop {
    &__body {

    }
  }
}
