.st-table {
  .ant-table-row {
    &:nth-child(even) {
      .bg(rgba(0, 0, 0, 0.01));
    }
  }
  
}
.st-table-alert__count{
  color: @primary-color;
  font-size:14px;
  font-weight:400;
  line-height:22px;
}
.st-table-alert__reload{

}
