.modal-schedule-team-add-course-batch {
  .editable-row-operations a {
    margin-right: 8px;
  }
  .editable-row-operations a {
    margin-right: 8px;
  }
  .st-table .ant-table-tbody > tr > td {
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
    &:last-child {
      border-right: 1px solid #e8e8e8;
    }
  }
  .st-table .ant-table-thead > tr > th {
    border-right: none;
    &:last-child {
      border-right: 1px solid #e8e8e8;
    }
  }
}
