.modal-schedule-team-add-course-batch {
  .editable-row-operations a {
    margin-right: 8px;
  }
  .editable-row-operations a {
    margin-right: 8px;
  }
  .st-table .ant-table-tbody > tr > td {
    width: auto;
    padding: 8px 0 8px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
    &:last-child {
      padding-right: 15px;
      border-right: 1px solid #e8e8e8;
    }
  }
  .st-table .ant-table-thead > tr > th {
    padding-left: 24px;
    border-right: none;
    &:last-child {
      border-right: 1px solid #e8e8e8;
    }
  }
}
