.modals-choose-sku {
  .good-message {
    margin-bottom: 34px;
    img {
      width: 88px;
      height: 88px;
      display: inline-block;
      vertical-align: top;
    }
    &__content {
      display: inline-block;
      width: 76%;
      vertical-align: top;
      margin-left: 12px;
      span {
        display: block;
        line-height: 20px;
        margin-top: 9px;
      }
    }
    &__price {
      .c(@error-color);
      .fz(18px);
    }
    &__amount {
      .c(@text-light);
      .fz(14px);
    }
    &__rule {
      width: auto;
      height: 20px;
      .c(@text);
      .fz(14px);
      .tov-e();
    }
  }
  &__good-item {
    margin-top: 18px;
  }
  &__label {
    margin-right: 24px;
    .c(@title);
  }
  .ant-radio-wrapper {
    margin-bottom: 5px;
  }
}
