.page-shop-setting-entry-list {
  &__global {
    padding: 8px 0;
    &-item {
      display: flex;
      justify-content: flex-start;
      .mg-t(24px);
      &-title {
        display: inline-block;
        min-width: 100px;
        .mg-r(24px);
        text-align: right;
      }
      &-content {
        flex: 1;
      }
    }
  }
  &__area {
    padding: 8px 0;
  }
  &__divider {
    .w(100%);
    .h(12px);
    .bg(#f0f2f5);
  }
}
