@phone-width: 372;
@phone-height: 645;

@scale: @phone-width / 960;
.st-h5-container {
  max-width: unit(@phone-width, px);
  max-height: unit(@phone-height, px);
  &--fixed {
    position: fixed;
  }
  &__main {
    .bd-r(20px);
    overflow: hidden;
    padding: 100px 41px 65px 38px;
    background-image: url('~@/assets/img/brand/setting/mina/phone.png');
    background-repeat: no-repeat;
    transform: scale(@scale);
    transform-origin: left top;
    background-size: 100%;
    width: 960px;
    height: 1636px;
    perspective: 1px;
  }

  &__nav {
    .w(750px);
    .h(120px);
    background-image: url('~@/assets/img/h5_nav.png');
    background-size: 100%;
    .ta-c();
    .lh(170px);
    font-weight: bold;
    .fz(37px);
    margin: 0 auto;
  }
  &__content {
    margin: 0 auto;
    width: 750px;
    .h(1337px);
    overflow-y: auto;
    .bg(#fafafa);
    border-radius: 0 0 60px 60px;
    font-size: 24px;
    &::-webkit-scrollbar {
      .s(0, 0);
    }
    &-deny {
      .ta-c();
      .mg-t(152px);
      transform: scale(2.717);
      &-button {
        .mg-t(24px);
      }
    }
  }
}
