.page-create-container{
    margin-top: 48rpx;
    .page-upload-container{
        display: flex;
        align-items: center;
    }
    .page-course-photo-des{
        width: 156px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:12px;
        color:#000;
        opacity: .25;
        line-height:17px;
        .page-course-item{
            display: flex;
        }
        .page-course-item-tip{
            width: 10px;
        }
    }
}