.st-slider .slider {
  position: relative;
  height: 70px;
}
.st-slider .slider .ant-slider-disabled .ant-slider-track {
  background-color: #40a9ff !important;
}
.st-slider .slider .ant-slider-disabled .ant-slider-handle {
  border-color: #1890ff !important;
}
.st-slider .slider__title {
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 10px;
  color: rgba(0, 0, 0, 0.85);
}
.st-slider .slider .ant-slider {
  width: 100%;
  display: inline-block;
}
.st-slider .slider .slider-copy-bottom {
  float: right;
  margin-top: 10px;
  cursor: pointer;
  color: #40a9ff;
}
.st-slider__title-box {
  height: 54px;
}
.st-slider__title-box-time {
  display: flex;
}
.st-slider__title-box-time-comment {
  width: 25%;
}
.st-slider__title-box-time-06 {
  padding-left: 4%;
  box-sizing: border-box;
  overflow: hidden;
}
.st-slider__title-box-time-12 {
  text-align: center;
}
.st-slider__title-box-time-18 {
  text-align: right;
  padding-right: 4%;
  box-sizing: border-box;
  overflow: hidden;
}
.st-slider__title-box-time-24 {
  text-align: right;
}
.st-slider__title-box-operate {
  text-align: right;
}
.slider-copy {
  display: block;
}
.slider-copy .ant-checkbox-wrapper {
  padding: 6px;
}
.slider-copy .ant-checkbox-wrapper:nth-child(1) {
  padding-left: 12px;
}
