.page-shop-container {
  .page-shop-coach-container-shop,
  .page-shop-coach-container-coach {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    position: relative;
  }
  .page-shop-coach-container-shop::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d9d9d9;
    position: absolute;
    top: -10px;
    left: 73px;
  }
  .page-shop-coach-container-shop::after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -9px;
    left: 73px;
  }
}
