.st-info-item{
  display: flex;
  .mg-b(16px);
  &__label{
    height:22px;
    font-size:14px;
    width: 8em;
    font-weight:400;
    color:rgba(0,0,0,0.85);
    line-height:22px;
    text-align: right;
    text-align: right;
  }
  &__content{
    .pd-l(24px);
    text-align: left;
  }
}