#udesk_btn {
  .d-n;
}
.st-udesk-btn {
  .pos-f;
  right: 0;
  bottom: 0;
  .s(58px, 66px);
  .z(1000000000);
  .cur-p;
  .ta-c;
  .lh(66px);
  &::before {
    content: '';
    .s(50px, 50px);
    .bg(@white);
    .pos-a;
    right: 0;
    top: 8px;
    z-index: -1;
  }
  &__icon {
    .w(100%);
  }
}
