.modal-shop-mini-add-course {
  width: 440px;
  height: 399px;
  .ant-popover-title {
    height: 56px;
    line-height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #252a2e;
  }
  .ant-popover-inner {
    height: 399px;
  }
  &__head-close {
    position: absolute;
    top: 20px;
    right: 24px;
  }
}
