.modal-shop-mini-add-course {
  padding-top: 0;
  width: 440px;
  .ant-popover-title {
    height: 56px;
    line-height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #252a2e;
  }
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 12px 24px;
  }
  .st-form-item .ant-form-item-control-wrapper {
    padding-left: 16px;
  }
  .ant-form-item {
    margin-bottom: 24px;
  }
  &__head-close {
    position: absolute;
    top: 20px;
    right: 24px;
    cursor: pointer;
  }
  &__save-schedule-btn {
    float: right;
  }
  &__add-btn {
    display: flex;
    align-items: center;
  }
  &__footer {
    height: 32px;
    margin-bottom: 10px;
  }
  .ant-time-picker-input::placeholder {
    color: rgba(155, 172, 185);
  }
}
