.set-area() {
  .bg(rgba(24, 144, 255, 0.1));
  .pd(4px 12px);
  display: flex;
  align-items: center;
  .fz(12px);
  &__input {
    flex: 1;
    .fz(12px);
  }
  &__action {
    .w(60px);
    .ta-r;
  }
  &__close {
  color: #CDD4DF!important;
  }
}