.set-area() {
  .bg(#F0F6FF);
  .pd(4px 16px);
  display: flex;
  align-items: center;
  .mg-t(8px);
  .fz(12px);
  &__input {
    flex: 1;
    .fz(12px);
  }
  &__action {
    .w(60px);
    .ta-r;
  }
  &__close {
  color: #CDD4DF!important;
  }
}