.st-setting-cabinet {
  &__item {
    .h(100px);
    .pd(16px 8px 8px);
    .pos-r;
    border-left: 4px solid @success-color;
    box-shadow: 0 0 10px 0 rgba(56, 62, 68, 0.1);
    border-radius: 4px;
    .mg-b(16px);
  }
  &__item-num {
    .fz(16px);
    .c(@title);
  }
  &__item-price {
    .fz(12px);
    .c(@text-light);
    .mg-t(8px);
  }
  &__action {
    .pos-a;
    right: 8px;
    bottom: 8px;
  }
}