.page-setting-cabinet {
  .ant-tabs-bar {
    .mg-b(0);
  }
}
.st-setting-cabinet {
  &__item {
    .h(100px);
    .pd(16px 8px 8px);
    .pos-r;
    border-left: 4px solid @success-color;
    box-shadow: 0 0 10px 0 rgba(56, 62, 68, 0.1);
    border-radius: 4px;
    .mg-b(16px);
    &::before {
      content: '';
      .pos-a;
      .s(100%, 100%);
      .pd-l(4px);
      border: 1px solid @primary-color;
      border-radius: 4px;
      left: -4px;
      top: 0;
      opacity: 0;
      transition: opacity .68s;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
  &__item-edit {
    .bg(#EBEFFF);
    border-radius: 2px;
    .h(22px);
    .lh(22px);
    .pd(0 5px);
    .fz(14px);
    .c(@primary-color);
  }
  &__item-num {
    .fz(16px);
    .c(@title);
  }
  &__item-price {
    .fz(12px);
    .c(@text-light);
    .mg-t(8px);
  }
  &__action {
    .pos-a;
    right: 10px;
    bottom: 4px;
  }
}