.page-find-account {
  width: 289px;
  margin: auto;
  text-align: center;
  &__tip {
    font-size: 16px;
    font-weight: 500;
    color: rgba(62, 77, 92, 1);
    line-height: 22px;
    margin: 160px 0 24px 0;
  }
  &__button {
    background: rgba(205, 212, 223, 1);
    border-radius: 20px;
    border-width: 0;
    width: 158px;
    &:hover {
      background-color: rgba(205, 212, 223, 1);
      border-color: rgba(205, 212, 223, 1);
    }
  }
  &__button--active {
    background: #3f66f6;
    border-width: 1;
    &:hover {
      background-color: #3f66f6;
      border-color: #3f66f6;
    }
  }
}
