.page-find-account-valid-id {
  margin-top: 56px;
  text-align: center;
  &__tip {
    margin-bottom: 38px;
  }
  &__bind-info {
    text-align: left;
    width: 228px;
    margin: auto;
  }
  &__bind-waring {
    color: #ff5e41;
    font-size: 12px;
    margin-bottom: 24px;
  }
  &__form {
    width: 360px;
    text-align: center;
    margin: auto;
  }
  &__button-wrap {
    text-align: center;
  }
  &__button {
    border-radius: 20px;
    width: 158px;
  }
  .ant-btn-primary[disabled] {
    background: rgba(205, 212, 223, 1);
    color: #ffffff;
  }
}
