.page-find-account-valid-id {
  margin-top: 56px;
  text-align: center;
  &__tip {
    margin-bottom: 32px;
  }
  &__update-text {
    margin-bottom: 16px;
    font-weight: 500;
  }
  &__bind-info {
    text-align: left;
    width: 360px;
    margin: auto;
  }
  &__bind-waring {
    color: #ff5e41;
    font-size: 12px;
    margin-bottom: 24px;
  }
  &__form {
    width: 360px;
    text-align: center;
    margin: auto;
  }
  &__button-wrap {
    text-align: center;
  }
  &__button {
    border-radius: 20px;
    width: 158px;
  }
  &__form {
    text-align: left;
  }
}
