.print {
  padding: 40px;
  background: #999;
  body {
    margin: 0 auto;
    padding: 0 32px 1cm;
    width: 21cm;
    background: #fff;
    height: initial;
    min-width: initial;
    min-height: 29.5cm;
    box-sizing: border-box;
    box-shadow: 0 0 1in -10px rgba(0, 0, 0, .5);
  }
}
@media print {
    * {
      text-shadow: none !important;
      background: 0 0 !important;
      box-shadow: none !important
    }
    .print {
      padding: 0
    }
    .print body {
      width: 100%;
      margin: 0;
      padding: 0 1cm;
      // font-size: 9pt;
      // zoom:50%;
    }
    h1, h2, h3, h4, h5, h6, img {
      page-break-after: avoid;
      page-break-inside: avoid
    }
    table {
      page-break-inside: avoid
    }
  }

.extra-contract-preview {
  .pd-lr(8px);

  .info-item {
    display: flex;
    .mg-b(24px);
  }

  .info-label {
    float: left;
    .fz(14px);
    .lh(22px);
    font-weight: 500;
    .c(#000);
  }

  .info-text {
    flex: 1;
    .fz(14px);
    .lh(22px);
    overflow: hidden;
    .c(rgba(0,0,0,.65));
  }

  &__header {
    .pos-r;
    .pd-t(31px);
  }

  &__brand-logo {
    .pos-a;
    left: 0;
    top: 0;
    .s(48px, 48px);
    .bd-r(4px);
  }

  &__title {
    .fz(24px);
    .lh(32px);
    .ta-c;
  }

  &__brand-name {
    .fz(16px);
    .lh(24px);
    .ta-c;
    font-weight: 400;
    .c(rgba(0,0,0,.45));
  }

  &__contract-code {
    .pos-a;
    right: 0;
    top: 8px;
    .fz(14px);
    .lh(22px);
  }

  &__basic {
    .mg-t(32px);
    display: flex;
    justify-content: space-between;
  }

  &__basic-list {
    flex: 1;
  }

  &__basic-list-item {
    .w(33.33%);
  }

  &__avatar {
    flex: 0 0 90px;
    .w(90px);
    .h(120px);
    .mg-t(-6px);
    img{
        .s(100%,100%);
    }
  }
  &__product {
    .st-form-table{
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
    }
    .st-form-table thead > tr > th, .st-form-table tbody > tr > td{
        border-right: 1px solid #e8e8e8;
    }
  }
  &__advanced {
    .mg-t(24px);
  }

  &__footer {
    .mg-t(56px);
  }
}

