@media print {
  * {
    text-shadow: none !important;
    background: 0 0 !important;
    box-shadow: none !important;
    page-break-before: auto;
  }
  .ticket-print {
    padding: 0;
  }
  .ticket-print body {
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 9pt;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  footer,
  samp,
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: auto;
  }
  table {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  @page {
    margin: 2cm;
  }
}

.extra-ticket-preview {
  padding: 20px;
  width: 320px;
  background: #fff;
  &__section {
    padding: 8px;
    border-bottom: 1px dotted #231815;
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
}
