.months-group-board {
  width: 100%;
  // margin-left: -74px;
  .board-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 40px;
    &__header-item {
      font-size: 12px;
      text-align: center;
      line-height: 40px;
    }
  }
  .board-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 122px 122px 122px 122px 122px 122px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    &__day-item {
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-right: none;
      border-bottom: none;
      position: relative;
      &--current {
        color: @primary-color;
      }
      &--gray {
        color: @text-color-secondary;
      }
    }
    &__item {
      width: 100%;
      height: 100%;
    }

    .day-content {
      margin-right: 14px;
      &__popover {
        width: 100%;
        height: 100%;
        .font-number {
          font-size: 18px;
          line-height: 20px;
        }
      }
      &__course-item {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: 8px;
        line-height: 20px;
      }
      &__course-name {
        width: 86%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: @text-color;
      }
      &__point {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: @normal-color;
        margin-right: 8px;
      }
      &__bottom-text {
        color: @text-color-secondary;
        margin-top: 8px;
        margin-left: 14px;
        font-size: 12px;
      }
    }

    &__item-content {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      position: absolute;
      left: 0;
      top: 0;
      &:hover {
        background-color: @bg-gray;
      }
    }
    &__hover-content {
      width: calc(100% - 14px);
      height: 100%;
      padding: 8px;
    }
    .add-btn-content {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      &__add-btn {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: @table-bg-color-thead;
        border-radius: 4px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        box-sizing: content-box;
        border: 1px dashed rgba(136, 154, 181, 1);
      }
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: @white;
        width: 24px;
        height: 24px;
        background: @border-color-base;
        border-radius: 100%;
      }
      &__text {
        font-size: 14px;
        font-weight: 400;
        color: @text-color;
        line-height: 22px;
      }
    }
    &__table {
      &--small {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 122px 122px 122px 122px 122px;
      }
    }
  }
}
.popover-box {
  &__hover-add-btn {
    width: 150px;
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__course-list {
    width: 150px;
    padding-bottom: 8px;
  }
  &__list-item {
    width: 100%;
    height: 100%;
    font-size: 12px;
    margin-top: 8px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
  &__item-point {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: @normal-color;
    margin-right: 8px;
  }
  &__item-text {
    flex: 0 0 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
