.modal-sold-card-refund {
  &__content {
  }
  &__info {
    border-bottom: 1px solid @divider;
  }
  &__refund {
    padding: 24px 0 0;
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    .info {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .fz(12px);
      .c(@danger);
    }
  }
}
