.brand-app-index {
  .banner {
    .mg-b(12px);
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .list {
    display: flex;
    &__item {
      width: 32%;
      flex: none;
      margin-right: 12px;
      background-color: #fff;
      &:not(:nth-child(3n)) {
        margin-right: calc(4% / 2);
      }
    }
  }
  .top {
    img {
      width: 100%;
    }
  }
  .bottom {
    background-color: #fff;
    padding: 16px 28px;
    &__name {
      font-size: 20px;
      line-height: 20px;
      font-weight: bolder;
      &-sub {
        font-size: 14px;
        color: #9bacb9;
        font-weight: normal;
      }
    }
    &__title {
      margin-top: 8px;
      line-height: 22px;
    }
  }
}
