.date-container {
  display: flex;
  align-items: center;

  .text-cont {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(62, 77, 92, 1);
    line-height: 22px;
  }
}
