.modal-marketing-add-signup {
  .option-tip {
    margin-top: 4px;
    background: rgba(247, 249, 252, 1);
    border-radius: 4px;
    line-height: 20px;
    border: 1px solid rgba(205, 212, 223, 1);
    display: inline-block;
    float: left;
    .pd(2px 8px);
    .tip {
      font-size: 12px;
      color: rgba(62, 77, 92, 1);
      line-height: 20px;
    }
  }
}
