.modal-marketing-add-ticket {
  .form-bulk {
    position: relative;
    .popover {
      border: 1px solid #cdd4df;
      margin-left: -24px;
      .pd(4px);
      width: 100%;
      border-radius: 4px;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        left: 26px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #cdd4df;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        left: 27px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid #fff;
      }
    }
  }
  .input {
    display: inline-block;
    width: 64px !important;
  }
}
