.modal-marketing-activity-share-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .poster {
    img {
      .s(224px, 400px);
    }
  }
  .qrcode {
    img {
      .s(200px, 200px);
    }
  }
  .share-poster-button {
    .s(158px, 40px);
    font-size: 14px;
  }
}
