.layout-default {
  &.ant-layout.ant-layout-has-sider > .ant-layout,
  &.ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow-x: auto;
  }
  &-sider__shop-brand-name {
    .tov-e;
  }
  &-sider__shop {
    .mg-b(24px);
    .layout-default-sider__logo {
      .s(32px, 32px);
      .mg-r(8px);
      .ov-h;
    }
    .layout-default-sider__name {
      .mg-t(12px);
    }
  }
  &-sider__brand {
    .layout-default-sider__name {
      justify-content: center;
    }
  }
  &-sider__shop-top {
    display: flex;
    align-items: center;
    .pd(0 16px);
    .fz(14px);
  }

  // layout-defualt-sider
  &-sider {
    position: fixed;
    .pd-t(26px);
    .pd-l(8px);
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    .bg(@defaultMenuBgColor);
    .c(@defaultMenuColor);
    z-index: 99;
    border-right: 1px solid #eee;
    .ant-menu {
      .c(inherit);
    }
    .ant-menu-inline .ant-menu-item:not(:last-child),
    .ant-menu-vertical-left .ant-menu-item:not(:last-child),
    .ant-menu-vertical-right .ant-menu-item:not(:last-child),
    .ant-menu-vertical .ant-menu-item:not(:last-child) {
      margin-bottom: 4px;
    }
    .ant-menu-inline {
      .bd-n;
      .bg(inherit);
      .ant-menu-submenu {
        .ant-menu-submenu-title {
          border-radius: 100px 0 0 100px;
        }
        .layout-default-sider__menu-arrow {
          transform: rotate(180deg);
          &.open {
            .d-b;
          }
          &.fold-up {
            .d-n;
          }
        }
      }
      .ant-menu-submenu-open {
        .ant-menu-submenu-title {
          .bg(#22274b);
        }

        .layout-default-sider__menu-arrow {
          transform: rotate(180deg);
          &.open {
            .d-n;
          }
          &.fold-up {
            .d-b;
          }
        }
      }
      .ant-menu-submenu-selected {
        .ant-menu-submenu-title {
          // .c(@white);
          .bg(#191e41);
          border-radius: 100px 0 0 100px;
          &:before {
            .h(22px);
          }
        }
      }
      .ant-menu-item-selected {
        .bg(none);
        color: @white !important;
        &:after {
          content: none;
        }
      }
      .st-menu-item-selected {
        background: #191e41;
        border-radius: 100px 0 0 100px;
      }
      .ant-menu-submenu-title {
        .c(rgba(@defaultMenuColor));
        padding-left: 16px !important;
        padding-right: 24px !important;
        .layout-default-sider__menu-arrow {
          margin-right: 0;
        }
        &:before {
          .d-n;
        }
        &:hover {
          .bg(#22274b);
          border-radius: 100px 0 0 100px;
        }
        &:active {
          .bg(#22274b);
          border-radius: 100px 0 0 100px;
        }
      }
      .ant-menu-submenu-arrow {
        display: none;
      }
    }
    .ant-menu-item__only-one {
      border-radius: 100px 0 0 100px;
      &:active,
      &:hover {
        .bg(#22274b);
        border-radius: 100px 0 0 100px;
      }
    }
    .ant-menu-item {
      display: flex;
      align-items: center;
      padding-left: 16px !important;
      cursor: default;
      &.sub {
        .fz(12px);
        line-height: 32px;
        height: 32px;
      }
      a:hover,
      &:hover {
        color: @white !important;
        .layout-default-sider__menu-star {
          opacity: 1;
          transition: all 0.5s;
        }
      }
      svg {
        width: 14px;
        height: 14px;
      }
    }
    &__favorite-title {
      .mg-l(6px);
      flex: 1;
      .mg-r(16px);
      &:focus {
        text-decoration: none;
      }
      &:hover {
        .c(@defaultMenuHoverColor);
        transition: all 0.5s;
      }
    }
    a {
      .c(inherit);
    }
    &__brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      .mg-b(16px);
      .pd-r(8px);
    }
    &__logo {
      .pos-r();
      .s(48px, 48px);
      border-radius: 4px;
      border: 2px solid rgba(@white, 0.45);
      .ov-h;
    }
    &__arrow {
      .c(@defaultMenuColor);
      font-size: 12px !important;
    }
    &__shop-tag {
      height: 23px;
      width: 40px;
      margin-top: 8px;
      margin-left: 16px;
    }
    &__brand-tag {
      width: 40px;
      height: 23px;
      margin-top: 8px;
    }
    &__certification {
      .pos-a;
      right: -10px;
      bottom: -6px;
    }
    &__name {
      display: flex;
      align-items: center;
      .w(100%);
      .mg-t(16px);
      .c(#fff);
      .pd(0 16px);
      .tov-e;
      > span {
        .mg-r(6px);
        .fz(16px);
        .lh(24px);
        font-weight: 500;
        .tov-e;
      }
    }
    &__scrollbox {
      position: relative;
      height: calc(100vh - 150px);
      display: flex;
      flex-direction: column;
      // overflow: auto;
    }
    &__both {
      flex: 1;
    }
    &__version {
      height: 56px;
      width: 200px;
      margin-left: -9px;
      margin-bottom: 12px;
      line-height: 56px;
      text-align: center;
      position: relative;
      margin-top: 24px;
      &-bg {
        width: 160px;
        height: 32px;
        display: inline-block;
        background: linear-gradient(
          270deg,
          #2c3153 0%,
          #42497c 51%,
          #2c3153 100%
        );
        margin-top: 8px;
      }
      &-text {
        position: absolute;
        left: 0;
        right: 0;
        color: rgba(154, 161, 209, 1);
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 50px;
        &::before {
          content: '·  ';
        }
        &::after {
          content: '  ·';
        }
      }
    }
    &__often {
      &-title {
        .pd-l(16px);
        .fz(12px);
        .lh(20px);
        .c(rgba(255, 255, 255, 0.45));
      }
      &-list {
        .fz(12px);
        .lh(20px);
        .pd-l(20px);
        .c(rgba(255, 255, 255, 0.65));
      }
      &-item {
        .ov-h();
        .pd-tb(8px, 8px);
        .pd-l(2px);
        display: flex;
        align-items: center;
        .cur-p;
        &--active {
          .c(#fff);
          &::before {
            .bg(#fff);
          }
        }
      }
    }
    &__menu {
      .w(100%);
      &.ant-menu-dark {
        .bg(@brand-color);
      }
      &.ant-menu-dark .ant-menu-sub {
        .bg(@brand-color);
      }
    }
    &__menu-item {
      display: flex;
      line-height: 20px;
    }
    &__menu-title {
      flex: 1;
      .cur-p;
    }
    &__menu-star {
      opacity: 0;
      .cur-p;
      color: #a5b5c0 !important;
      transform: scale(0.7);
      &.active {
        color: @primary-color !important;
      }
    }
    &__menu-arrow {
      .d-n;
      .pos-a;
      right: 14px;
      color: #a4b3bf !important;
      top: 50%;
      margin-top: -5px;
      font-size: 10px;
      transition: all 0.2s;
    }
  }
  // layout-default-body
  &-body {
    position: absolute;
    min-width: 1000px;
    left: 200px;
    right: 0;
    top: 80px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    &__header-link {
      .c(#9bacb9);
      &:hover {
        .c(#6c7e8c);
      }
    }
    &__notify {
      padding: 4px;
      cursor: pointer;
      .ant-scroll-number-only,
      .ant-badge-count,
      .ant-scroll-number-only > p {
        .h(16px);
      }
      .ant-badge-count {
        background: #ff5e41;
        .lh(16px);
        padding: 0 4px;
        box-shadow: 0 0 0 0;
      }
      &:hover {
        .st-icon {
          color: #5e6a7f !important;
        }
      }
    }
    &__header {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pd-lr(16px);
      .bg(#f0f2f5);
      left: 200px;
      right: 0;
      z-index: 80;
      &:after {
        content: '';
        position: absolute;
        height: 12px;
        background-image: linear-gradient(
          180deg,
          rgba(17, 21, 47, 0.1) 0%,
          rgba(26, 30, 63, 0) 100%
        );
        left: 0;
        right: 0;
        bottom: -12px;
      }
    }
    &__header--schedule {
      &:after {
        content: '';
        height: 16px;
        background-image: linear-gradient(
          180deg,
          rgba(17, 21, 47, 0.1) 0%,
          rgba(26, 30, 63, 0) 12px
        );
        bottom: -16px;
        background-color: #f0f2f5;
      }
    }
    &__location {
      display: flex;
      align-items: center;
      > h2 {
        .fz(16px);
        .lh(24px);
        color: @title;
        .mg-b(0);
      }
      .ant-breadcrumb-separator {
        .mg-lr(12px);
      }
    }
    &__bread-home {
      .ant-breadcrumb-link {
        .mg-r(8px);
      }
    }
    &__breadtext {
      .fz(12px);
      .c(#5e6a7f);
      &--title {
        .c(#252a2e);
      }
    }
    &__line {
      .mg-lr(24px);
      .s(1px, 32px);
      .bg(rgba(0, 0, 0, 0.1));
    }
    &__personal {
      display: flex;
      align-items: center;
    }
    &__top-item {
      .h(64px);
      .c(@text-color-secondary);
      .lh(64px);
      .fz(16px);
      .cur-p;
    }
    &__icon {
      .fz(20px);
      .c(@white);
    }
    &__avatar {
      display: flex;
      align-items: center;
      .cur-p;
      .h(64px);
      .mg-l(24px);
      > img {
        .lh(0);
        .bg(#ccc);
        border-radius: 4px;
      }
    }
    &__dropdown {
      position: relative;
      top: -17px;
      .w(180px);
      padding-bottom: 8px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      .bg(#fff);
      .pd-t(8px);
      .ov-h();
    }
    &__username {
      padding: 16px 24px;
      border-bottom: 1px solid rgba(133, 93, 93, 0.06);
    }
    &__menu {
      border-right: 0;
    }
    &__name {
      .fz(18px);
      .lh(26px);
      color: #252a2e;
      margin-bottom: 2px;
    }
    &__mobile {
      .fz(14px);
      .lh(22px);
      .c(#9bacb9);
      margin: 0;
    }
    &__options.ant-menu-item {
      .h(36px);
      .lh(36px);
      .fz(14px);
      .c(#3e4d5c);
      .pd-l(26px);
      &:hover {
        .bg(rgba(0, 147, 255, 0.04));
        color: #3f66f6;
      }
    }
    &__content {
      flex: 1;
      z-index: 1;
      position: relative;
      &::after {
        content: '';
        position: fixed;
        top: 64px;
        left: 200px;
        right: 0;
        height: 76px;
        .bg(rgba(240, 242, 245, 1));
        z-index: -1;
      }
    }
    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
    }
  }
}
// 九宫格
.layout-fast-entry_icon {
  width: 20px;
  height: 20px;
}
.layout-fast-entry_icon:hover {
  color: #5e6a7f !important;
}
.ant-notification-notice.st-notify-open,
.ant-notification-notice.st-notify-normal-open {
  .mg-b(8px);
}
.st-notify-open {
  .pd(12px);
  .ant-notification-notice-content {
    .h(96px);
  }
  .ant-notification-notice-message {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .ant-notification-notice-message,
  .ant-notification-notice-description {
    margin-left: 108px;
  }
  .ant-notification-notice-icon {
    .s(96px, 96px);
    .mg-l(0);
    img {
      .s(100%, 100%);
    }
  }
  .st-ws-notice-description {
    .label,
    .value,
    &__content {
      font-size: 12px;
      .c(@text-color);
      .lh(17px);
    }
    .label {
      .c(#a9b7c2);
      flex: none;
      width: 60px;
    }
    .value {
      .c(#3e4d5c);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__coach,
    &__member {
      .value {
        width: 48px;
      }
    }
    &__detail,
    &__cunsume,
    &__coach,
    &__member {
      display: flex;
    }
  }
}
.st-notify-normal-open {
  .pd(12px);
  .ant-notification-notice-content {
    .h(86px);
  }
  .ant-notification-notice-message {
    .fz(14px);
    .mg-b(8px);
  }
  .ant-notification-notice-description {
    .fz(12px);
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
