// 默认版本配色
@defaultMenuBgColor: #2c3153;
@defaultMenuColor: rgba(@white, 0.65);
@defaultMenuHoverColor: @white;
// theme a 配色
@themeAMenuBgColor: @white;
@themeAMenuColor: @text-color;
@themeAMenuHoverColor: @primary-color;
