.layout-fast-entry {
  position: absolute;
  top: 49px;
  right: 16px;
  padding: 39px 40px 32px 40px;
  .w(320px);
  .bg(@white);
  box-sizing: border-box;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .s(60px, 74px);
    .mg(24px 0 0 30px);
    .ta-c;
    .fz(12px);
    .c(@title);
    .cur-p;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      .mg-t(0);
    }
    &:nth-child(3n + 1) {
      .mg-l(0);
    }
  }
  &__item-icon {
    // .s(44px, 44px);
  }
}
