.page-personal-course-info {
  .label {
    .c(rgba(0, 0, 0, 0.85));
    .mg-r(8px);
  }
  .value {
    .c(rgba(0, 0, 0, 0.65));
  }
}

.page-personal-header {
  display: flex;
  justify-content: space-between;
  &__left {
    .course-detail-item {
      display: flex;
      &__left {
        .mg-r(130px);
      }
      &__content {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
      }
      &__tip {
        .fz(12px);
        .c(rgba(0, 0, 0, 0.65));
        .lh(20px);
      }
    }
  }
  &__right {
    flex: none;
    img {
      .s(268px, 150px);
    }
  }
}
.page-personal-content {
  &__item {
  }
}
