.modal-bind-entity-card {
  .staff-tip {
    background: rgba(255, 241, 240, 1);
    border-radius: 4px;
    border: 1px solid rgba(255, 163, 158, 1);
  }

  .staff-card {
    background: rgba(247, 249, 252, 1);
    border-radius: 2px;
    .card {
      .label,
      .value {
        font-size: 12px;
        font-weight: 400;
        color: rgba(62, 77, 92, 1);
        line-height: 20px;
      }
      .label {
        text-align: right;
        display: inline-block;
        .w(108px);
        color: #9bacb9;
      }
    }
  }
}
