.page-add-container{
    margin-top: 24px;
}

// 删除员工
.staff-tip-container{
    width: 100%;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ffa39e;
    border-radius: 4px;
    background-color: #FFF1F0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__title, &__item{
        font-size:12px;
        font-family:PingFangSC-Regular;
        color:#000;
        opacity: .65;
        line-height:20px;
    }
    &__search{
        color:#1890FF
    }
}
.staff-tip-b{
    margin-top: 24px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:#000;
    line-height:22px;
    opacity: .65;
}