.brand-marketing-activity {
  .fixed {
    position: fixed !important;
    top: 40px;
  }
  &__left {
    // .pd-t(3px);
    // .pd-lr(24px);
    .bg(#f7f9fc);
    .mg-l(-24px);
    .mg-t(-24px);
    .mg-r(17px);
    .w(350px);
    flex-shrink: 0;
    min-height: 644px;
    padding-top: 12px;
    padding-left: 12px;
    .h5-component__scroll-wrapper {
      position: absolute;
      top: 10px;
    }
  }

  .row-container-component {
    border-bottom: none;
  }
}
