.layouts-entry-sudoku {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  &__section {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
    height: 300px;
    color: orange;
  }
}
