.pages-brand-product-card-list-a {
  &-box {
    display: inline-block;
    float: right;
    margin-bottom: 16px
  }

  &-box-select {
    width: 184px;
    margin-left: 24px
  }

  &-marketable {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(82, 196, 26, 1);
  }

  &-stopSell {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(245, 34, 45, 1);
  }

  .admission {
    color: rgba(0, 0, 0, 0.65)
  }
}
