.page-brand-finance-salary {
  &__action {
    text-align: right;
    margin-bottom: 16px;
  }
  &__select {
    width: 150px;
    margin-right: 16px;
  }
  &__range .ant-input {
    width: 150px;
  }
  &__search {
    margin-left: 16px;
  }
}
