.modal-brand-switch {
  .brand-content {
    .pd(56px 52px);
  }
  .brand-item {
    .ta-c;
    .pd-t(60px);
    .pd-b(40px);
    .cur-p;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover,
    &:active {
      transition: all 0.3s;
      border-color: rgba(64, 169, 255, 1);
      box-shadow: 0px 4px 12px 0px #BAE7FF;
    }
    &__img {
      .s(100px, 100px);
      border-radius: 4px;
    }
    &__title {
      .mg-t(32px);
    }
    &__desc {
      .mg-t(8px);
      .lh(22px);
      .c(@text-light);
    }
    &__btn {
      .mg-t(32px);
    }
  }
}
