.modal-brand-version-update {
  position: fixed;
  left: 200px;
  z-index: 200;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    background: url('~@/assets/img/brand/bg-version-update.png') no-repeat;
    background-position: right;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 484px;
    height: 280px;
    padding: 36px 24px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
    margin-bottom: 12px;
  }
  &__desc {
    line-height: 22px;
    color: #3e4d5c;
    font-weight: 400;
    margin-bottom: 24px;
  }
  &__phone {
    font-size: 16px;
    font-weight: bold;
    color: rgba(62, 77, 92, 1);
    line-height: 24px;
    margin-bottom: 4px;
  }
  &__time {
    color: rgba(155, 172, 185, 1);
    line-height: 20px;
  }
}
