.st-slider-button {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #798AFF;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  &__toolTip {
    position: absolute;
    top: -25px;
    left: -18px;
    color: #fff;
    background: #798AFF;
    border-radius: 2px;
    .s(40px, 16px);
    .fz(12px);
    line-height: 16px;
    // padding: 2px;
    text-align: center;
    user-select:none;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      left: 50%;
      border-top: 4px solid #798AFF;
      top: 16px;
    }
  }
}