.page-dashboard-club{
    &__linebox{
      height: 516px;
    }
    &__content{
      .page-dashboard-club-count{
        height: 186px;
      }
      margin-right: 304px;
      .ant-tabs-nav-container{
        line-height: 24px;
        .pd-t(17px);
      }
      .page-dashboard-analysis .action{
        top: 19px;
      }
      .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated{
        margin-bottom: 23px;
      }
    }
    &__adv{
      float: right;
      .w(280px);
      .pd(0);
    }
    &__content,
    &__adv{
      .user-chart-box{
        .revenue-area{
          margin-left: 282px;
  
        }
        .funnel-vertical{
          width: 282px;
          float: left;
        }
      }
    }
    &-count{
      &__box{
        background: #fff;
        height: 186px;
      }
    }
    .ant-tabs-nav{
      margin-left: 24px;
      .ant-tabs-tab{
        padding: 12px 0px;
      }
    } 
  }
  