.st-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.ant-menu-item,
.ant-menu-submenu-title {
  .st-icon {
    .mg-r(10px);
  }
}
.ant-menu-inline-collapsed {
  .ant-menu-item,
  .ant-menu-submenu-title {
    .st-icon {
      font-size: 16px;
      .mg(0);
      & + span {
        max-width: 0;
        display: inline-block;
        opacity: 0;
      }
    }
  }
}
