.shop-store-data-buy-consumption-tables {
  position: relative;
  .ant-tabs-bar {
    margin: 0;
  }

  .shop-store-data-sales-analysis {
    margin: 0 0 0 24px;
  }

  .action {
    position: absolute;
    top: 6px;
    right: 5px;
    display: flex;
  }
  .ant-tabs-nav {
    margin-left: 24px;
  }
}
