.shop-store-data-buy-number {
  &__left {
    border-right: 1px solid rgba(233, 233, 233, 1);
    margin-right: 6px;

    .shop-store-data-sales-analysis {
      padding-top: 32px;
      padding-bottom: 1px;
    }
  }

  &__right {
    margin: 32px 24px 24px 24px;

    .st-title--t3 {
      margin-bottom: 24px;
    }

    .radio-group {
      margin: 34px 0 24px 0;
    }
  }
}
