.shop-store-data-sales-analysis {
  margin: 32px 24px;
  min-height: 302px;
  &__list {
    ul {
      display: flex;
      margin-bottom: 21px;

      li {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    ul:nth-child(1) {
      margin-top: 36px;

      li {
        color: rgba(155, 172, 185, 1);
      }
    }
  }
}
