.shop-store-data-sales-analysis {
  margin: 32px 24px;
  min-height: 302px;

  &__list {
    ul {
      display: flex;
      margin-bottom: 26px;

      li {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    ul:nth-child(1) {
      margin-top: 18px;

      li {
        color: rgba(155, 172, 185, 1);
      }
    }
  }

  .list__title-three {
    text-align: right;
    box-sizing: border-box;

    span {
      margin-right: 23%;
    }
  }

  .list_title_two {
    span {
      margin-left: 23%;
    }
  }

  .list__sales-list-one-order {
    margin-left: 12px;
  }

  .list__sales-list-two-name {
    margin-left: 23%;
  }

  .list__sales-list-three {
    text-align: right;

    .list__sales-list-three-num {
      margin-right: 23%;
    }
  }
}
