.modal-marketing-add-coupon {
    &__content-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__table {
        position: relative;
        max-height: 302px;
        border: 1px solid @border-color;
        padding: 12px 8px;
        border-radius: 4px;
    }
    .ant-modal-footer {
        padding: 0 24px 24px;
    }
}