.page-dashboard{
  display: flex;
  &__content{
    flex:1;
    .w(100px);
    .ant-tabs-nav-container{
      line-height: 24px;
      .pd-t(17px);
    }
    .page-dashboard-analysis .action{
      top: 19px;
    }
    .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated{
      margin-bottom: 23px;
    }
  }
  &__adv{
    flex:none;
    .w(280px);
    .pd(0);
    .mg-l(24px);
  }
  &__content,
  &__adv{
    .user-chart-box{
      display: flex;
      .revenue-area{
        flex: 1;
      }
      .funnel-vertical{
        width: 282px
      }
    }
  }
  &-count{
    &__box{
      background: #fff;
      height: 186px;
    }
  }
}
