.page-dashboard{
  &__content,
  &__adv{
    background: #f0f2f5;
    .link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__time{
        font-size:12px;
        font-weight:400;
        color:rgba(155,172,185,1);
        line-height:20px;
      }
      &__qr-code{
        border-top: 1px solid rgba(255,255,255,0.5);
        .image-box{
          .s(140px, 140px);
        }
      }
    }
    .content{
      display: flex;
    }
  }
  &-count{
    &__box{
      background: #fff;
      height: 186px;
    }
  }
  
  
}