.page-dashboard {
  &__chart {
    .pd(16px 24px);
    .h(270px);
  }
  &__chart-title {
    .fz(14px);
    .c(@text-light);
  }
  &__shop-img {
    .bg(#f2f2f2);
    .h(0);
    .pd-b(60%);
    .pos-r;
    background-repeat: none;
    background-size: 100%;
    border-radius: 4px 4px 0 0;
    .ov-h;
    .fz(0);
  }
  &__shop-name {
    .fz(20px);
    .c(@white);
    .pos-a;
    bottom: 0;
    .w(100%);
    .pd(12px 24px);
    .mg-b(0);
    font-weight: 600;
    .lh(1.4);
    .tov-e;
  }
  &__shop-status {
    .pos-a;
    right: 0;
    top: 0;
  }
  &__shop-info {
    .pd(16px 24px);
    .fz(14px);
    .c(@text);
  }
  &__shop-address,
  &__shop-tel {
    .pd(4px 0);
    .tov-e;
  }
  &__shop-label {
    .c(@text-light);
    .mg-r(10px);
  }
  &__action {
    .mg(0 24px);
    .pd(24px 0);
    border-top: 1px solid #F2F2F2;
  }
  &__placeholder {
    .w(0);
    .pd-b(60%);
    border-bottom: 184px solid transparent;
  }
  &__add-shop {
    .pos-a;
    top: 50%;
    .w(100%);
  }
  &__add-shop-text {
    .ta-c;
    .fz(16px);
    .c(@text-light);
  }
  &__link-item {
    .d-b;
    .pd(9px 21px);
    .bg(@white);
    .mg(12px 0);
    border-radius: 4px;
    .fz(14px);
    .c(@title);
  }
}