.modal-activity {
  &__notify-img {
    .h(400px);
    position: relative;
    .arrow-left-out {
      position: absolute;
      top: -18px;
      left: -16px;
    }
    div.swiper-button-prev {
      background-image: none;
      outline: unset;
      left: -16px;
      z-index: 1;
    }
    div.swiper-button-next {
      background-image: none;
      outline: unset;
      right: -16px;
      z-index: 1;
    }
  }
  .st-modal__body {
    padding: 0;
  }
}
