.modal-notice-system {
  .modal-notice-system {
    z-index: 2;
  }
  &__info-header {
    height: 120px;
    img {
      .s(100%, 100%);
    }
  }
  .st-modal__body {
    .pd(0);
  }
  &__info-content {
    .pd(24px);
  }
  &__button-wapper {
    text-align: center;
  }
}
