.modal-notice-system {
  .modal-notice-system {
    z-index: 2;
  }
  &__info-header {
    height: 100%;
    img {
      .s(100%, 100%);
    }
  }
  .st-modal__close {
    z-index: 2;
  }
  .st-modal__body {
    .pd(0);
  }
  &__content {
    height: 110px;
    overflow-y: auto;
  }
  &__info-content {
    .pd(144px 24px 24px 24px);
  }
  &__button-wapper {
    text-align: center;
  }
}
