.page-shop-reception {
  &__form-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      display: flex;
      flex-direction: column;
      width: 229px;
      height: 136px;
      box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
      .bg(@white);
    }
    &-detail {
      display: flex;
      flex: 1;

      padding: 12px 20px;
    }
    &-number {
      flex: 1;
      >p:nth-of-type(1){
        margin: 0 0 11px;
        .lh(20px);
        .fz(14px);
        .c(@text-light);
      }
      >p:nth-of-type(2){
        margin: 0;
        .lh(37px);
        .c(@title);
        .fz(32px);
        font-weight: bold;
      }
    }
    &-chart {
      width: 80px;
      height: 60px;
    }
    &-button {
      padding: 10px 20px;
      .bg(@bg-gray);
      .c(@link-color);
      cursor: pointer;
    }
  }
  &__operation-list {
    display: flex;
    padding: 32px 0;
    align-items: center;
    justify-content: space-evenly;
    .bg(@white);
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
  }
  &__operation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    >p:nth-of-type(1){
      display: flex;
      width: 64px;
      height: 64px;
      margin-bottom: 12px;
      align-items: center;
      justify-content: center;
      background:linear-gradient(90deg,rgba(63,102,246,1) 0%,rgba(63,170,255,1) 100%);
      border-radius: 50%;
      .c(@white);
      font-size: 26px;
    }
    >p:nth-of-type(2){
      margin-bottom: 0;
      .fz(14px);
      .c(@title);
    }
  }
  &__opertaion-line {
    width: 1px;
    height: 48px;
    .bg(@divider);
  }
  &__member-todoist{
    display: flex;
    justify-content: space-between;

  }
  &__member {
    width: 496px;
    height: 517px;
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
    .bg(@white);
    &-search {
      position: relative;
      display: flex;
      height: 64px;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      &::after {
        content: '';
        position: absolute;
        width: 496px;
        height: 16px;
        background:linear-gradient(360deg,rgba(244,246,248,0) 0%,rgba(230,233,239,0.4) 100%);
        bottom: -16px;
        left: 0;
      }
      &-select {
        width: 376px;
        .ant-select-selection {
          border-radius: 20px;
          .bg(rgba(234, 238, 244, 1));
        }
        .ant-select-selection__clear {
          .bg(rgba(234, 238, 244, 1));
        }
      }
    }
  }
  &__info {
    padding: 24px;
  }
  &__personal-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @divider;
    padding-bottom:18px;
    >div:nth-of-type(1){
      flex: auto;
    }
  }
  &__upload {
    flex: none;
  }
  &__set-info {
    padding-top: 24px;
    >p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .set-info-label {
        width: 56px;
        text-align: right;
        .fz(14px);
        .lh(22px);
      }
      .set-info-select {
        width: 376px;
      }
    }
  }
  &__todoist {
    width: 674px;
    height: 517px;
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
    .todoist-tabs {
      .ant-tabs-bar.ant-tabs-top-bar {
        .bg(@white);
        padding-top: 21px;
        margin-bottom: 0;
      }
    }
    &-to-do {
      height: 452px;
      padding: 12px 24px 24px;
      .to-do-add {
        width: 626px;
      }
      &-list {
        position: relative;
        height: 394px;
        outline: 1px solid red;
      }
    }
    &-finish {
      position: relative;
      height: 452px;
      padding: 12px 24px 24px;
    }
  }
}