.modal-transfer-brand-course {
  &__title {
  }
  &__title-icon {
    display: inline-block;
    .s(22px, 22px);
    .bg(@warning-color);
    border-radius: 100%;
    text-align: center;
    .lh(22px);
    .c(#fff);
  }
  &__form-item-emtry {
    .ant-form-item-control-wrapper {
      .pd-l(0px);
    }
  }
  &__price-setting {
    .ant-col-offset-1 {
      .mg-l(0);
    }
  }
}
