.page-staff{
  display: flex;
  height: 100%;
  &-lf{
    .w(266px);
    height: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
    .mg-r(12px);
  }
  &-rg{
    height: 100%;
    background: #fff;
    overflow: hidden;
    flex: 1;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
  }
}
.staff-lf{
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
  }
  &__tree{
    // .mg-l(16px);
  }
}
.staff-rg{
  &__operation {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    > div {
      width: 100%;
    }
  }
  &__table{
    display: flex;
    align-items: center;
    justify-content: center;
    .pd(16px);
  }
}