.page-role-list{
  width: 266px;
  margin-right: 12px;
  height: 810px;
  background: #fff;
  position: relative;
  &__add {
    border-top: 1px solid rgba(230,233,239,1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tree {
    h4 {
      margin-bottom: 16px;
      padding: 0 16px;
    }
    .item{
      height: 36px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .active{
      background:rgba(24,144,255,1);
      color: #fff;
    }
  }
  &__search {
    margin: 24px 24px 20px 16px;
  }
}
.page-role-info{
  background: #fff;
  padding: 24px 24px 0;
  height: 810px;
}