.page-404 {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  .bg(white);
  .ta-c;
  &__img {
    display: block;
  }
  &__text {
    .mg-t(24px);
    .c(#7F93A3);
    .fz(18px);
    .lh(26px);
  }
}
