.shop-member-crowd-analysis {
  height: 136px;
  background: rgba(247, 249, 252, 1);
  border-radius: 2px 2px 0px 0px;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(247, 249, 252, 1);
    border-radius: 2px 2px 0px 0px;
    padding: 32px 24px;
    margin-bottom: 34px;
  }

  &-title__left {
    display: flex;
    align-items: center;
  }

  &-title__left-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &-title__left-info {
    padding-left: 12px;
  }

  &-title__info-title {
    line-height: 32px;
  }

  &-title__info {
    line-height: 22px;
    font-weight: 400;
    color: rgba(155, 172, 185, 1);
  }

  &-title__right {
    text-align: right;
  }

  &-title__right-num {
    font-size: 32px;
    font-weight: bold;
    color: rgba(37, 42, 46, 1);
    line-height: 37px;
  }

  &-content__info {
    display: flex;
    align-items: baseline;
  }

  &-content {
    margin-bottom: 34px;

    &__info-h2 {
      padding-left: 24px;
      padding-bottom: 24px;
    }
  }

  .card-items {
    display: flex;
    height: 114px;
  }

  .card-items-li {
    flex: 1;
    margin: 0 12px;
    padding: 24px 20px;
    border-top: 4px solid #3f66f6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
  }

  .card-items-start {
    margin-left: 0px;
  }

  .card-items-end {
    margin-right: 0px;
  }

  .card-items-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.crowd-analysis-tooltip {
  .ant-tooltip-arrow {
    border-bottom-color: #fff;
  }

  .ant-tooltip-inner {
    background-color: #fff;
    color: #000000;
  }
}
