.shop-member-crowd-index {
  display: flex;
  background: rgba(240, 242, 245, 1);
  margin-bottom: 24px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;

  &-title {
    height: 260px;
    flex: 1;
    background: rgba(255, 255, 255, 1);

  }

  &__item {
    display: flex;
    margin-bottom: 24px;

  }

  &__img {
    width: 72px;
    height: 72px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info__title {
    padding-bottom: 8px
  }

  &-new__crowb_num {
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
  }

  &__num {
    display: flex;
    margin-bottom: 24px;
    margin-top: 34px;
  }

  &__num-item {
    flex: 1;
  }
}
