.shop-member-crowd-index-tooltip {
  max-width: 360px;

  .ant-tooltip-inner {
    background-color: #ffffff;
    color: #000;
  }

  .ant-tooltip-arrow {
    border-top-color: #ffffff;
  }
}

.shop-member-crowd-index {
  .tree-opreation {
    padding-left: 10px;
  }

  &-new__crowb_num {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(0, 0, 0, 0.45);
  }
}
