.page-shop-app-venue-setting-add {
  &__form {
    width: 660px;
  }
  &__name {
    white-space: initial;
  }
  .ant-form-item-children {
    display: flex;
    white-space: nowrap;
  }
  &__inline {
    margin-left: 12px;
  }
}
