.brand-stat-facet-bar {
  .g2-legend {
    margin-top: -22px !important;
  }
  .g2-legend-list {
    width: 100%;
  }
  .g2-legend-list-item {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .g2-legend-marker {
    margin-right: 8px !important;
  }
  .g2-legend-text {
    display: inline-block;
    width: 64px;
    color: rgba(155, 172, 185, 1);
  }

  .guide {
    text-align: center;
    width: 200px;
  }
  .guide-title {
    color: #252a2e;
    margin-bottom: 8px;
  }
  .guide-value {
    .font-number;
    font-size: 28px;
    line-height: 36px;
  }
  .guide-unit {
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
  }
  .guide-name {
    font-size: 14px;
    line-height: 22px;
    color: #9bacb9;
  }
}
