.brand-stat-course-ring {
  .g2-legend-list {
    width: 160px;
  }
  .g2-legend-list-item {
    margin-right: 0 !important;
    margin-bottom: 16px !important;
  }
  .g2-legend-marker {
    margin-right: 8px !important;
  }
  .st-g2-tooltip-value {
    color: rgba(155, 172, 185, 1);
    line-height: 22px;
  }
  .g2-legend-text {
    color: rgba(62, 77, 92, 1);
    line-height: 24px;
  }
  .legend-right {
    color: #252a2e;
    width: 48px;
  }

  .guide {
    text-align: center;
    width: 200px;
  }
  .guide-title {
    color: #252a2e;
    margin-bottom: 8px;
  }
  .guide-value {
    .font-number;
    font-size: 28px;
    line-height: 36px;
  }
  .guide-unit {
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
  }
  .guide-name {
    font-size: 14px;
    line-height: 22px;
    color: #9bacb9;
  }
}
