.stat-marketing-dashboard {
  display: inline-block;
  position: relative;
  &__placeholder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
  }
  &__name {
    color: #3e4d5c;
    font-size: 14px;
    line-height: 22px;
  }
  &__percent {
    font-size: 24px;
    color: #252a2e;
    line-height: 32px;
  }
  .g-circle {
    transform-origin: center;
    transform: rotate(90deg);
  }
  .fore-circle {
    transition: all 0.5s;
  }
  .cursor {
    transform-origin: center;
    transition: all 0.5s;
  }
}
