.shop-stored-data-revenue-ring {
  .g2-legend-list {
    width: 165px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .g2-legend {
    overflow: inherit !important;
    left: 60% !important;
    top: 0px !important;
  }

  .g2-legend-list-item {
    margin-right: 0 !important;
    margin-bottom: 8px !important;
    display: flex !important;
    align-items: center;
  }

  .g2-legend-marker {
    margin-right: 8px !important;
  }

  .g2-legend-text {
    display: inline-block;
    width: 64px;
    color: #3e4d5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .guide {
    text-align: center;
    width: 200px;
  }

  .guide-title {
    color: #252a2e;
    margin-bottom: 8px;
  }

  .guide-value {
    .font-number;
    font-size: 28px;
    line-height: 36px;
  }

  .guide-unit {
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
  }

  .guide-name {
    font-size: 14px;
    line-height: 22px;
    color: #9bacb9;
  }
}
