.notice-item {
  .w(100%);

  &__column {
    .w(100%);
  }

  &__text {
    display: inline-block;
    .w(25%);
    vertical-align: top;
  }
}

.width75 {
  width: 75%;
}

.mg-l12 {
  margin-left: 112px;
}
