.notice-item {
  .w(100%);

  &__title {
    display: inline-block;
    .w(150px);
    .h(100%);
    padding: 16px 24px;
    vertical-align: top;

  }

  &__content {
    display: inline-block;
    width: calc(~"100% - 150px");
    border-left: 1px solid rgba(230, 233, 239, 1);

  }

  &__column-input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #CDD4DF;
    border-radius: 0;
  }

  &__text {
    display: inline-block;
    width: calc(~"20% + 38px");
    .h(100%);
    padding: 16px 24px;
    vertical-align: top;
  }
}

.mg-l12 {
  margin-left: 112px;
}
.width75{
  .w(75%);
}
.shadow {
  .w(100%);
  height:16px;
  background:linear-gradient(360deg,rgba(250,250,250,0) 0%,rgba(241,241,241,1) 100%);
}
