.notice-item {
  .w(100%);

  &__title {
    display: inline-block;
    .w(20%);
    .h(100%);
    vertical-align: top;

  }

  &__content {
    display: inline-block;
    .w(80%);
    border-left: 1px solid rgba(230, 233, 239, 1);
  }

  &__text {
    display: inline-block;
    .w(25%);
    .h(100%);
    vertical-align: top;
  }
}

.width20 {
  width: 20%;
}

.mg-l12 {
  margin-left: 112px;
}
