.modal-fast-entry-housekeeper {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__code_pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 160px;
  }
  &__code-img {
    width: 160px;
    height: 160px;
  }
}
