.modal-fast-entry-housekeeper {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__code_pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__app-logo {
    width: 48px;
    height: 48px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
