.modal-fast-entry-mini-program {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__code-img {
    width: 180px;
    height: 180px;
  }
}
