.skeleton-brand-tile-sider-2 {
  .ske-tile;
  .pd(16px 24px);
  display: flex;
  flex-direction: column;
  &__h-1,
  &__h-2,
  &__h-3,
  &__h-4 {
    .ske-holder;
  }
  &__hd {
    height: 24px;
  }

  &__h-1 {
    .h(100%);
  }
  &__bd {
  }
  &__list {
  }
  &__item {
    .mg-t(20px);
    display: flex;
  }
  &__item-hd {
    width: 60px;
  }
  &__h-2 {
    .h(60px);
  }
  &__item-bd {
    flex: 1;
    .pd-t(6px);
    .mg-l(12px);
  }
  &__h-3 {
    max-width: 56px;
  }
  &__h-4 {
    .mg-t(8px);
    .h(14px);
  }
}
