.skeleton-brand-tile-main {
  .ske-tile;
  height: 520px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  &__hd {
    height: 32px;
  }
  &__h-1 {
    .ske-holder;
    .h(100%);
  }
  &__bd {
    flex: 1;
    .mg-t(32px);
    display: flex;
  }
  &__h-2 {
    .ske-holder;
    .h(100%);
    .w(284px);
    .mg-r(16px);
  }
  &__h-3 {
    .ske-holder;
    .h(100%);
    flex: 1;
  }
}
