.skeleton-brand-tile-sider-3 {
  .ske-tile;
  padding: 16px;
  display: flex;
  &__hd {
    .w(80px);
  }
  &__bd {
    flex: 1;
    .mg-l(12px);
    .pd-t(18px);
  }
  &__h-1,
  &__h-2,
  &__h-3 {
    .ske-holder;
  }
  &__h-1 {
    .h(80px);
  }
  &__h-2 {
    .h(22px);
  }
  &__h-3 {
    .mg-t(8px);
    max-width: 60px;
    .h(14px);
  }
}
