.skeleton-brand-tile-footer {
  .ske-tile;
  .pd(24px);
  display: flex;
  flex-direction: column;
  height: 300px;
  &__h-1,
  &__h-2 {
    .ske-holder;
  }
  &__hd {
    .h(16px);
  }
  &__bd {
    .mg-t(20px);
    flex: 1;
  }
  &__h-1 {
    .h(100%);
    max-width: 52px;
  }
  &__h-2 {
    .h(100%);
  }
}
