.skeleton-brand-tile-header {
  .ske-tile;
  .pos-r;
  padding: 20px 16px 0 16px;
  height: 186px;
  &__h-1 {
    .ske-holder;
    height: 16px;
    max-width: 97px;
  }
  &__h-2 {
    .ske-holder;
    .mg-t(14px);
    max-width: 73px;
    height: 28px;
  }
  &__h-3 {
    .ske-holder;
    .pos-a;
    bottom: 0;
    left: 0;
    height: 36px;
    right: 0;
  }
}
