@preview-width: 368px;
.st-mina-panel {
  min-height: 100%;
  display: flex;
  &--initial {
    .st-mina-panel__content {
      padding: 0;
    }
  }
  &__preview {
    width: @preview-width;
    .bg(@bg-gray);
  }
  &__main {
    flex: 1;
    .bg(@white);
  }
  &__content {
    padding: 24px 24px 56px 24px;
  }
  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
    left: @preview-width;
    padding: 16px;
    background-color: rgba(@white, 0.8);
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 10px 1px rgba(@black, 0.05);
    &--fixed {
      .pos-f;
      left: (@preview-width + 200px + 16px);
      right: 16px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .st-mina-panel {
    .st-mina-panel__preview {
      display: none;
    }
  }
}
