.product-course-manage-group-info-basic {
  &__column {
    display: flex;
    width: 100%;
  }
  &__item {
    width: 33%;
    margin-top: 28px;
    &-label {
      color: #252a2e;
    }
    &-value {
      color: #3e4d5c;
    }
  }
}
