.page-shop-edit-deposite-card.page-shop-basic-card {
    .page-content-card__card__name {
      margin: 32px 0;
      .fz(16px);
      >span {
        margin-left: 8px;
      }
    }
    .page-admission-range-shop::after {
        left: 100px;
    }
    .page-support-sales-shop.page-lot-shop::after {
        left: 128px;
    }
}