.brand-setting-sms-sign {
  &__setting {
    .w(244px);
    .h(111px);
    padding: 12px 20px;
    background: url('~@/assets/img/brand/setting/sms_bg.png') no-repeat;
    background-size: cover;
  }
}
