.page-shop-sold {
  &__content{
    padding: 24px;
    &-batch{
      display: flex;
      align-items: center;
    }
  }
  &__table-select-info{
    display: flex;
    height: 40px;
    padding-left: 16px;
    margin: 16px 0 8px;
    align-items: center;
    .bg(@dropdown-hover-bg-color);
    border-radius: 4px;
  }
  .mgr-8{
    margin-right: 8px;
  }
}