.st-modal-shop-app-venue-setting {
  .border-box {
    padding: 12px 8px;
    border: 1px solid #cdd4df;
    border-radius: 4px;
  }
  .tips {
    margin-top: 12px;
    color: rgba(155, 172, 185, 1);
    line-height: 22px;
  }
}
