.page-login-wechat{

}
.page-login-tabs{
  .page-login-tab-item-wechat {
    position: relative;
    .fz(16px);
    font-weight: 500;
    .c(rgba(0,0,0,0.85));
    .lh(22px);
    &:before{
      content: '';
      width: 32px;
      height: 4px;
      animation: mymove 0.3s;
      display: inline-block;
      background: #325bf2;
      position: absolute;
      bottom: 0;
      left:16px;
    }
  }
}
