.page-shop-app-venue-booking-table {
  &__top {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 44px;
    height: 21px;
    &__item {
      display: inline-block;
      width: 110px;
      text-align: center;
      font-weight: bolder;
      line-height: 20px;
      font-size: 12px;
    }
  }
  &__left {
    float: left;
    margin-right: 16px;
    height: 400px;
    overflow: hidden;
    &__item {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 20px;
      color: #9bacb9;
    }
  }
  &__content {
    position: relative;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 0;
    margin-left: 44px;
    &.no-border {
      border-color: transparent;
    }
    &__scroll {
      display: flex;
      position: relative;
    }
    &__column {
      width: 110px;
      flex: none;
    }
    &__row {
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.05);
      margin: -1px 0 0 -1px;
      .tov-e();
      padding: 0 20px;
      &-action {
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s, border-right-color 0.3s,
          border-bottom-color 0.3s, border 0.3s;
        &.act {
          color: #fff;
          background-color: #3f66f6;
          border-right-color: #3f66f6;
          border-bottom-color: #3f66f6;
        }
      }
      &-reserved {
        background-color: #ffa100;
        color: #fff;
      }
      &-unreserve {
        background-color: #fafafa;
        color: #9bacb9;
        border-top: none;
        border-left: none;
      }
    }
    .st-no-data {
      margin: 50px auto;
      color: #9bacb9;
    }
  }
}
