.page-shop-sold {
  &__search {
    position: absolute;
    right: 24px;
    top: 16px;
    z-index: 2;
  }
  &__table {
    padding: 24px;
  }
  &__tab {
    height: 60px;
  }
  .st-tabs .ant-tabs-nav-wrap {
    padding-left: 24px !important;
  }
}
