.brand-marketing-bind {
  text-align: center;
  p {
    margin-bottom: 16px;
  }
  img {
    width: 64px;
    height: 64px;
    margin: 0 auto 16px;
  }
  > div {
    > button {
      width: 158px;
    }
  }
}
