.brand-marketing-poster{
  text-align: center;
  >p{
    text-align: left;
    word-break: break-all;
    margin-bottom: 16px;
  }
  >img{
    width:224px;
    height:399px;
  }
  >div{
    >button{
      margin-top: 16px;
      width: 158px;
    }
  }
}