.pages-test-store {
  padding: 0 36px;
  padding-top: 36px;
  box-sizing: border-box;
  background: #ffffff;
  height: 100%;
  position: relative;
}
.pages-test-store__container {
  display: flex;
}
.pages-test-store__img-box {
  width: 320px;
  height: 200px;
  display: inline-block;
  position: relative;
}
.pages-test-store__sign-img {
  position: absolute;
  left: 0;
  top: 0;
}
.pages-test-store__img {
  width: 320px;
  height: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.pages-test-store__sign-icon {
  position: absolute;
  width: 76px;
  height: 24px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 8px 0px 4px 0px;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.pages-test-store__sign-icon span {
  margin-right: 4px;
}
.pages-test-store__slider {
  margin: 25px 0;
}
.pages-test-store__info {
  margin-left: 36px;
}
.pages-test-store__info-title {
  margin-bottom: 16px;
}
.pages-test-store__info-title span {
  width: 64px;
  height: 24px;
  display: inline-block;
  background: #1890ff;
  border-radius: 0px 100px 100px 0px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
}
.pages-test-store__info-title h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  vertical-align: middle;
  padding-left: 8px;
  vertical-align: -webkit-baseline-middle;
}
.pages-test-store__info-list {
  margin-bottom: 16px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.pages-test-store__info-list span:nth-child(2) {
  padding-left: 16px;
}
.pages-test-store__info-list a {
  padding-left: 14px;
}
.pages-test-store__info-facilities {
  margin-top: 10px;
}
.pages-test-store__info-facilities-list {
  display: flex;
}
.pages-test-store__info-facilities-list div {
  margin: 0 21px;
  text-align: center;
}
.pages-test-store__info-facilities-list div p {
  font-size: 14px;
  padding-top: 4px;
}
.pages-test-store__time {
  margin-bottom: 40px;
}
