.import-tip {
  height: 52px;
  background: rgba(255, 94, 65, 0.1);
  line-height: 32px;
  margin: -24px -24px 0 -24px;
  padding: 10px 24px;
  color: #ff5e41;
  &__icon {
    margin-right: 9px;
  }
}
