.page-brand-product-deposit-list-shelves {
  &__search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__select {
      .w(160px);
    }
  }
}
