.page-setting-cabinet {
  display: flex;
  &__nav {
    .w(266px);
    .mg-r(12px);
    .bg(@white);
    .pd(24px 0);
  }
  &__nav-item {
    .fz(12px);
    .c(@title);
    .pd(8px 16px);
    display: flex;
    justify-content: space-between;
  }
  &__content {
    flex: 1;
    min-height: 800px;
  }
}