.page-setting-cabinet {
  display: flex;
  .st-button {
    &.color-danger {
      &:hover {
        border-color: @danger;
      }
    }
  }
  &__nav {
    .w(266px);
    .mg-r(12px);
    .bg(@white);
    .pd(24px 0 60px 0);
    .pos-r;
    .ant-tabs-left-bar {
      .w(100%);
      .mg-t(16px);
    }
    .ant-tabs-tab {
      padding: 0 !important;
    }
    .ant-tabs-ink-bar {
      display: none !important;
    }
  }
  &__nav-item {
    .fz(12px);
    .c(@title);
    .h(48px);
    .lh(48px);
    .cur-p;
    &:hover {
      background: rgba(24, 144, 255, 0.1);
    }
    &.current {
      .bg(#1890ff);
      color: #fff;
      .nav-opreation .st-icon {
        color: #fff !important;
      }
    }
  }
  &__nav-item-content {
    display: flex;
    justify-content: space-between;
    .pd(0 16px 0 20px);
    .fz(12px);
  }
  &__nav-add {
    .s(100%, 48px);
    .pos-a;
    bottom: 0;
    left: 0;
    .lh(48px);
    .ta-c;
    border-top: 1px solid @border-color;
    .bg(@white);
  }
  &__content {
    flex: 1;
    min-height: 80vh;
  }
}
.page-setting-cabinet-tab {
  .pos-r;
  .pd-t(24px);
  .ant-tabs-bar {
    .pd-l(24px);
  }
  &__actions {
    .pos-a;
    right: 24px;
    top: 18px;
  }
}
