.page-shop-setting-shop {
  .brand-shop-add__slider {
    border:1px solid rgba(217,217,217,1);
    border-radius: 4px;
    margin-top: 16px;
    padding: 12px;
  }
.page-shop-setting-shop__address{
  background: #ff0
}
    .ant-form-item-label{
      label{
        width: 64px;
        background: rgba(24,144,255,1);
        border-radius: 0px 100px 100px 0px;
        display: inline-block;
        color: #fff;
        text-align: center;
        line-height: 24px;
      }
    }

}
