.hour-picker {
  .h(60px);
  &--drag {
    cursor: move;
  }
}
.hour-picker-item {
  box-sizing: border-box;
  .fz(0);
  display: inline-block;
  width: 4%;
  .h(100%);
  .pos-r;
  &--active {
    .hour-picker-item__duration {
      .bg(rgba(@primary-color, .2));
    }
  }
  &__line,
  &__duration {
    .pos-a;
    left: 0;
    top: 30%;
  }
  &__line {
    .s(1px, 20%);
    border-left: 1px solid #E6E6E6;
  }
  &__line--milestone,
  &__line--milestone-last {
    .h(40%);
  }
  &__line--milestone-last {
    left: auto;
    right: 0;
  }
  &__duration {
    .s(100%, 40%);
  }
  &__start,
  &__end {
    .pos-a;
    .fz(12px);
    .c(@white);
    .bg(@primary-color);
    border-radius: 2px;
    .w(36px);
    .h(16px);
    .lh(16px);
    .ta-c;
    &::before {
      content: '';
      .pos-a;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      left: 50%;
      margin-left: -3px;
    }
  }
  &__start {
    left: -18px;
    bottom: 0;
    &:before {
      border-bottom: 3px solid @primary-color;
      top: -3px;
    }
  }
  &__end {
    right: -18px;
    top: 0;
    &:before {
      border-top: 3px solid @primary-color;
      bottom: -3px;
    }
  }
}