@hour-picker-primary: #798aff;
.hour-picker {
  .h(60px);
  .pos-r;
  &--drag {
    cursor: move;
  }
  &::before {
    content: '';
    .s(100%, 4px);
    .bg(rgba(@black, 0.05));
    border-radius: 2px;
    .pos-a;
    left: 0;
    top: 50%;
    .mg-t(-2px);
  }
}
.hour-picker-item {
  box-sizing: border-box;
  .fz(0);
  display: inline-block;
  width: 4.16666%;
  .h(100%);
  .pos-r;
  &--active {
    .hour-picker-item__duration {
      .bg(@hour-picker-primary);
    }
  }
  &__line,
  &__duration {
    .pos-a;
    left: 0;
  }
  &__duration {
    .s(100%, 4px);
  }
  &__duration-start,
  &__duration-end {
    .s(10px, 10px);
    .bg(@white);
    border: 2px solid @hour-picker-primary;
    border-radius: 100%;
    .pos-a;
    top: 50%;
    transform: translate(0, -50%);
    .z(2);
  }
  &__duration-start {
    left: -4px;
  }
  &__duration-end {
    right: -4px;
  }
  &__line {
    top: 30%;
    .d-n;
  }
  &__duration {
    top: 50%;
    .mg-t(-2px);
  }
  &__line {
    .s(1px, 20%);
    border-left: 1px solid #e6e6e6;
  }
  &__line--milestone,
  &__line--milestone-last {
    .h(40%);
  }
  &__line--milestone-last {
    left: auto;
    right: 0;
  }
  &__start,
  &__end {
    .pos-a;
    .fz(12px);
    .c(@white);
    .bg(@hour-picker-primary);
    border-radius: 2px;
    .w(40px);
    .h(16px);
    .lh(16px);
    .ta-c;
    &::before {
      content: '';
      .pos-a;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      left: 50%;
      margin-left: -3px;
    }
  }
  &__start {
    left: -20px;
    bottom: 2px;
    &:before {
      border-bottom: 3px solid @hour-picker-primary;
      top: -3px;
    }
  }
  &__end {
    right: -20px;
    top: 2px;
    &:before {
      border-top: 3px solid @hour-picker-primary;
      bottom: -3px;
    }
  }
}
