.st-checkbox-facility-item {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .s(72px,38px);
    border-radius:6px;
    border:1px solid rgba(0,0,0,0.15);
    .mg-b(6px);
    .c(#000);
  }
  &-label {
    .fz(14px);
    .lh(22px);
    .c(rgba(0,0,0,.65));
    .mg-b(0);
  }
  &.checked {
    .st-checkbox-facility-item-icon {
      border-color: @primary-color;
      .c(@primary-color);
    }
    .st-checkbox-facility-item-label {
      .c(@primary-color);
    }
  }
}