@uploadWidth: 164px;
@uploadHeight: 164px;
.page-add-container{
    .page-add-upload{
        width:@uploadWidth;
        height:@uploadHeight;
        display:inline-block;
    }
    .ant-upload {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .ant-upload-select-picture-card i {
        font-size: 32px;
        color: #999;
    }
      
    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
}