.page-login-wapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .s(100vw, 100vh);
  background: #F8F8F8;
  .page-login-ch-en {
    position: absolute;
    height: 72px;
    .lh(72px);
    top: 0;
    right: 0;
    >span {
      .fz(14px);
      .c(rgba(0,0,0,.45));
      cursor: pointer;
      &.active{
        .c(rgba(0,0,0,.75));
      }
    }
  }
  .page-login{
    .s(960px, 516px);
    .bg(#fff);
    box-shadow:0px 0px 20px 0px rgba(196,193,219,0.2);
    border-radius:4px;
    display: flex;
  }
  .lf{
    position: relative;
    .w(420px);
    .h(100%);
    >footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }
    &-help{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      .item{
        padding: 0 22px;
        a{
          .fz(12px);
          .c(rgba(255,255,255,.45));
        }
      }
    }
    &-copyright{
      margin-bottom: 36px;
      .fz(12px);
      font-weight: 400;
      .c(rgba(255,255,255,.45));
      .lh(20px);
    }
    &-bg{
      position: absolute;
      top: 0;
      right: 0;
      .s(420px, 516px);
      background: url(https://styd-frontend.oss-cn-shanghai.aliyuncs.com/images/bg-login-%402x.png) top center no-repeat;
      background-size: cover;
    }
  }
.book {
    background-color: #fff;
    transform: rotateX(30deg);
  }
  .preserve-3d {
    /*transform-style属性指定了，该元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化。*/
    transform-style: preserve-3d;
  }
  .rt{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    .mg-t(118px);
  }
  .st-icon{
    color: #fff;
  }
}
@keyframes mymove
{
from {width:0px;}
to {width:32px;}
}
.page-login-tabs{
  display: flex;
  .w(336px);
  .page-login-tab-item{
    + .page-login-tab-item{
      margin-left: 48px;
    }
    position: relative;
    .cur-p;
    .fz(16px);
    .c(@text-light);
    .lh(22px);
    padding-bottom: 12px;

    &--active{
      font-weight: 500;
      .c(@title);
      &:before{
        content: '';
        .s(32px, 4px);
        animation:mymove .3s;
        display: inline-block;
        .bg(@primary-color);
        position: absolute;
        bottom: 0;
        left: 0
      }
    }
  }
}


