.page-login-wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .s(100vw, 100vh);
  background: #F8F8F8;
  .page-login{
    .s(1120px, 516px);
    .bg(#fff);
    box-shadow:0px 0px 20px 0px rgba(196,193,219,0.2);
    border-radius:4px;
    display: flex;
  }
  .lf{
    position: relative;
    .w(580px);
    .h(100%);
    &-introduce{
      position: absolute;
      top: -14px;
      right: 0;
      .pd-t(251px);
      .pd-l(64px);
      .s(506px, 546px);
      background:linear-gradient(46deg,rgba(24,144,255,1) 0%,rgba(24,56,255,1) 100%);
      box-shadow:0px 0px 20px 0px rgba(196,193,219,0.2);
      border-radius:4px;
    }
    &-logo{
      .mg-b(31px);
    }
    &-title{
      .fz(22px);
      .lh(1);
      font-weight: 600;
      .c(#fff);
      .mg-b(16px);
    }
    &-sub-title{
      .fz(14px);
      font-weight: 400;
      .c(rgba(255, 255, 255, .8));
      .lh(1);
      .mg-b(50px);
    }
    &-help{
      list-style-type: none;
      display: flex;
      padding-left: 0;
      .item{
        margin-right:44px;
        a{
          .fz(12px);
          .c(rgba(255,255,255,.45));
        }
      }
    }
    &-copyright{
      .fz(12px);
      font-weight: 400;
      .c(rgba(255,255,255,.45));
      .lh(20px);
    }
    &-bg{
      position: absolute;
      top: 0;
      right: 0;
      .s(335px, 546px);
      background: url(https://static-s.styd.cn/201903251641/introduce.png) top center no-repeat;
      background-size: cover;
    }
  }
.book {
    background-color: #fff;
    transform: rotateX(30deg);
  }
  .preserve-3d {
    /*transform-style属性指定了，该元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化。*/
    transform-style: preserve-3d;
  }
  .rt{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    .mg-t(118px);
  }
  .st-icon{
    color: #fff;
  }
}
@keyframes mymove
{
from {width:0px;}
to {width:32px;}
}
.page-login-tabs{
  display: flex;
  .w(336px);
  .page-login-tab-item{
    flex: 1;
    position: relative;
    .cur-p;
    .fz(14px);
    .c(rgba(0,0,0,0.45));
    .lh(20px);

    &--active{
      .fz(16px);
      font-weight: 500;
      .c(rgba(0,0,0,0.85));
      .lh(22px);
      &:before{
        content: '';
        .s(32px, 4px);
        animation:mymove .3s;
        display: inline-block;
        .bg(rgba(50,91,242,1));
        position: absolute;
        bottom: 0;
        left: 0
      }
    }
  }
}


