.st-tag {
  display: inline-block;
  .fz(12px);
  border-radius: 2px;
  .c(@white);

  &--coach-personal,
  &--coach-team,
  &--role-staff,
  &--period-card,
  &--number-card,
  &--deposit-card,
  &--role-saler,
  &--cabinet-available,
  &--cabinet-inuse {
    .pd-lr(8px);
    .lh(22px);
  }

  &--coach-personal {
    .bg(#a88add);
  }

  &--coach-team {
    .bg(#fd9f45);
  }

  &--role-saler {
    .bg(#fd6445);
  }

  &--role-staff {
    .bg(#1890ff);
  }

  &--period-card{
    .bg(#E6F7FF);
    .c(@primary-color);
  }
  &--number-card{
    .bg(#E2FBFF);
    .c(#29B1C5);
  }
  &--deposit-card{
    .bg(#DFFFF5);
    .c(#3DC199);
  }
  &--cabinet-available {
    .bg(rgba(@success-color, .15));
    .c(@success-color);
  }
  &--cabinet-inuse {
    .bg(rgba(@warning-color, .15));
    .c(@warning-color);
  }

  &--shop-opening,
  &--shop-trial,
  &--shop-presale,
  &--shop-sign,
  &--shop-close {
    width: 56px;
    height: 22px;
    .lh(22px);
    .ta-c;
    border-radius: 4px 0px 16px 0px;
    .c(#fff)
  }

  &--shop-opening,
  &--shop-sign {
    .bg(rgba(24, 144, 255, 0.7));
  }

  &--shop-presale {
    .bg(rgba(255, 144, 49, 0.7));
  }

  &--shop-trial {
    .bg(rgba(21, 192, 158, 0.7));
  }

  &--shop-close {
    .bg(rgba(245, 70, 70, 0.7));
  }
}
