.st-tag {
  display: inline-block;
  .fz(12px);
  border-radius: 2px;
  .c(@white);
  &--coach-personal,
  &--coach-team,
  &--role-staff,
  &--role-saler {
    .pd-lr(8px);
    .lh(22px);
  }
  &--coach-personal {
    .bg(#a88add);
  }
  &--coach-team {
    .bg(#fd9f45);
  }
  &--role-saler {
    .bg(#fd6445);
  }
  &--role-staff {
    .bg(#1890ff);
  }

  &--shop-opening {
    .pd-lr(14px);
    .lh(24px);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  &--shop-opening {
    .bg(#1890ff);
  }
  &--shop-trial {
    .pd-lr(6px);
    .lh(22px);
    .bg(#1890ff);
    border-radius: 0 4px 0 4px;
  }
}
