@panel-pd-lr: unit(24, px);

.st-panel {
  .bg(@white);

  &__header {
    .h(64px);
    .pd-lr(@panel-pd-lr);
    .pos-r;
    border-bottom: 1px solid @divider;
    display: flex;
    align-items: center;
  }
  &__title {
    flex: 1;
    .fz(16px);
    .lh(24px);
    font-weight: bold;
    .c(@title);
  }
  &__actions {
    text-align: right;
  }
  &__body {
    .pd-tb(24px);
    .pd-lr(@panel-pd-lr);
  }
  &--app {
    height: 100%;
  }
  &--tabs {
    .st-panel__header {
      border: none;
      .pd(0);
      .pd-t(14px);
    }
    .ant-tabs {
      .w(100%);
    }
    .ant-tabs-bar {
      .mg-b(0);
      .pd-lr(@panel-pd-lr);
    }
    // tabs actions区域头部居中
    .ant-tabs-extra-content {
      // margin-top: -4px;
    }
  }
  &--initial {
    .st-panel__body {
      .pd(0);
    }
  }
}
