.modal-sold-card-area {
  &__content {
    .mgb-18 {
      margin-bottom: 18px;
    }
    .mgb-24 {
      margin-bottom: 24px;
    }
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    padding: 24px;
  }
}
