.modal-sold-card-freeze {
  &__info {
    border-bottom: 1px solid @divider;
  }
  &__freeze {
    padding: 24px 0 0;
  }
  &__time {
    display: flex;
    align-items: center;
    > span {
      flex: none;
      height: 32px;
      margin: 0 4px 24px;
    }
    .page-a-form {
      flex: auto;
      .ant-form-item-control-wrapper {
        padding-left: 0;
      }
      .ant-calendar-picker {
        width: 100%;
      }
    }
  }
  .mgb-24 {
    margin-bottom: 24px;
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    padding: 24px;
  }
}
