.modal-sold-card-upgrade{
  &__content{
    .mgb-24{
      margin-bottom: 24px;
    }
  }
  &__old-card{
    border-bottom: 1px solid @divider;
  }
  &__upgrade-card{
    padding: 24px 0;
    border-bottom: 1px solid @divider;
  }
  &__contract{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .create-button{
      flex: none;
      margin-left: 8px;
    }
  }
  &__discounts{
    &-total{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-promotion{
      display: flex;
      align-items: center;
    }
  }
  &__remarks{
    padding-top: 24px;
  }
}