.git {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  user-select: none;
}
.git:hover {
  opacity: 1;
  background: palevioletred;
}
.is-git {
  .pd-lr(4px);
}
.git__content {
  font-size: 10px;
  color: #fff;
  background: palevioletred;
}

.api-env {
  .pos-f;
  left: 8px;
  bottom: 8px;
  .c(white);
  .pd(4px 8px);
  .fz(36px);
  .bg(@primary-color);
}
