.app-env {
  .pos-f;
  right: 0px;
  bottom: 18px;
  z-index: 200;
  opacity: 0.8;
  border-radius: 2px;
  .c(white);
  .pd(4px 8px);
  .fz(18px);
  .bg(@primary-color);
  a {
    .fz(16px);
    .c(white);
    text-decoration: underline;
  }
}
