.modal-schedule-add {
  &__info {
    display: flex;
    justify-content: space-between;
  }
  .copy-button-box {
    text-align: right;
  }
  .time-item {
    margin-top: 64px;
  }

  .last {
    display: flex;
    justify-content: space-between;
  }
}
