.modal-schedule-team-course-rank-preview {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--show {
      color: @title;
      line-height: 36px;
      margin-bottom: 0;
    }
    &--high {
      .c(#f42c3c);
    }
  }
  &__table-box {
    padding: 12px 8px;
    border: 1px solid #cdd4df;
    border-radius: 4px;
  }
  &__prompt {
    .c(@text-light);
    .fz(14px);
    margin-top: 10px;
  }
}
