.page-shop-member-follow {
  .st-panel__body {
    padding-top: 24px !important;
  }
  .pop-object__text {
    width: 150px;
    display: block;
    .tov-e;
  }
  &__item {
    margin-right: 16px;
    width: 200px;
  }
  &__number {
    width: 80px;
  }
  &-button {
    margin-right: 12px;
  }
}
