.shop-member-info {
  &-title {
    margin-bottom: 12px;
    height: 200px
  }

  &-title-pannel {
    display: flex;
  }

  &-title-pannel__img {
    display: flex;
    flex-direction: column
  }

  .img-box {
    position: relative;
  }

  .img-url {
    width: 104px;
    height: 104px;
  }

  .img-describe {
    position: absolute;
    width: 100%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
  }

  .input-face {
    margin-top: 12px;
    width: 104px;
    text-align: center;

    .anticon-plus {
      padding-right: 8px
    }
  }
}
