.shop-member-info {
  &-title {
    margin-bottom: 12px;
    height: 200px
  }

  &-title-pannel-left {
    display: flex;
  }

  &-title-pannel__img {
    display: flex;
    flex-direction: column
  }

  .img-box {
    position: relative;
  }

  .img-url {
    width: 104px;
    height: 104px;
  }

  .img-describe {
    position: absolute;
    width: 100%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
  }

  .input-face {
    margin-top: 12px;
    width: 104px;
    text-align: center;

    .anticon-plus {
      padding-right: 8px
    }
  }

  &-title-pannel__info {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
  }

  &-title-pannel__info__phone {
    display: flex;
    margin-top: 16px
  }

  .line {
    width: 1px;
    height: 14px;
    background: rgba(0, 0, 0, 0.25);
    margin: 4px 8px 0 8px
  }

  .label-list {
    margin-top: 16px;

    .lable-item {
      height: 22px;
      margin-right: 8px;
      margin-bottom: 12px;
      padding: 0px 6px;
      background: rgba(247, 249, 252, 1);
      border-radius: 4px;
      border: 1px solid rgba(205, 212, 223, 1);
      display: inline-block;
    }
  }

  .add-lable {


    .add-lable-item {
      padding: 3px 8px;
      background: rgba(247, 249, 252, 1);
      border-radius: 4px;
      border: 1px dashed rgba(205, 212, 223, 1);

    }
  }

  &-title-pannel-right {
    display: flex;
    flex-direction: column;
  }

  .pannel-right__operation {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .pannel-right__operation__margin {
    margin-left: 8px;
  }

  .pannel-right__num__box {
    width: 180px;
    margin-top: 16px;
  }

  .pannel-right__num {
    font-size: 30px;
    font-weight: bold;
  }

  .pannel-right__num__margin {
    padding: 0 6px;
  }
}
