.shop-member-list {
  .ant-radio-button-wrapper:first-child {
    border-left: transparent;

  }

  .ant-radio-button-wrapper {
    border: transparent;
    margin-right: 30px;
    border-radius: 4px !important;

  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent
  }

  .ant-form-item-label {
    text-align: left;
    margin-left: 12px;
  }

  .shop-member-list-handel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 0 0;
    border-top: 1px solid rgba(205, 212, 223, 1);
  }

  .st-panel__body {
    padding-top: 0;
  }

  &-button {
    margin-right: 12px
  }
  
}
.shop-member-list-button-div{
  padding: 8px 0 0 0;
  &:first-child{
    padding-top: 0
  }
}
.shop-member-list-button-label{
  cursor: pointer;
  &:hover{
    color: #3f66f6;
  }
}