.page-shop-setting-shop-edit {
  &__head {
    padding: 37px 72px 36px 104px;
    .bg(@bg-gray);
    >p:nth-of-type(1){
      display: flex;
    }
  }
  &__body {
    padding-top: 26px;
  }
  &__mobile {
    &-add {
      width:50px;
      cursor:pointer;
      &.disabled {
        cursor: not-allowed;
      }
    }
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .mg-t(8px);
    > p {
      display: flex;
      display: inline-block;
      align-items: center;
      .mg(0);
      .pd-tb(0);
      .pd-lr(8px);
      .mg-r(8px);
      .mg-b(8px);
      border: 1px solid @normal-color;
      background: #f5f5f5;
      border-radius: 4px;
      .fz(12px);
      .lh(20px);
      .c(@text);
      > span {
        margin-right: 8px;
      }
    }
  }
  &__img-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px; 
  }
  &__img {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 135px;
    border-radius: 4px;
    .shop-edit-img-tag {
      position: absolute;
      top: 0;
      left: 0;
    }
    .shop-edit-img-button {
      position: absolute;
      padding-right: 6px;
      transform: translateY(100%);
      left: 0;
      right: 0;
      bottom: 0;
      background:rgba(0,0,0,0.65);
      border-radius:0px 0px 4px 4px;
      transition: all .2s; 
      .fz(12px);
      .c(@white);
      text-align: right;
      span{
        margin: 0 6px;
      }
    }
    &:hover {
      .shop-edit-img-button {
        transform: translateY(0);
      }
    }
  }
}