.page-team-info {
  background: #f0f2f5;
  .header {
    display: flex;
    justify-content: space-between;
    &__right {
      .image {
        .s(280px, 158px);
      }
    }
    &__tip {
      display: flex;
      align-items: center;
      .item {
        .mg-r(130px);
        .label {
          font-size: 14px;
          font-weight: 400;
          color: rgba(37, 42, 46, 1);
          line-height: 22px;
        }
      }
    }
    &__description {
      min-height: 48px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(62, 77, 92, 1);
      line-height: 22px;
    }
    &__train-aim {
      font-size: 12px;
      font-weight: 400;
      color: rgba(155, 172, 185, 1);
      line-height: 20px;
    }
  }
  .header,
  .body {
    background: #fff;
    padding: 24px 32px;
  }
}
