.brand-setting-mina-auth-callback {
  &__shadowbox {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
    padding: 70px 165px;
    width: 70%;
    margin: 40px auto 24px;
    text-align: center;
    img {
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
    }
    p {
      text-align: left;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
