.brand-setting-mina-pay-config {
  &__shadowbox {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
    padding: 72px 180px;
    width: 800px;
    margin: 40px auto;
  }
  &__back{
    .mg-r(8px);
  }
}
