.pages-brand-product-card-list-member-list {
  &__box {
    display: inline-block;
    float: right;
    margin-bottom: 16px
  }

  &__box-select {
    width: 184px;
    margin-left: 24px
  }

  &__marketable {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(82, 196, 26, 1);
  }

  &__stopSell {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(245, 34, 45, 1);
  }

  .use_num {
    color: rgba(0, 0, 0, 0.65)
  }
}
