.pages-brand-product-card-liet-stop-sale-list {
  &__box {
    display: inline-block;
    float: right;
  }

  .ant-table-wrapper {
    padding-top: 16px
  }

  &__box-select {
    width: 184px;
    margin-left: 24px
  }


  .admission {
    color: rgba(0, 0, 0, 0.65)
  }

  .use_num {
    color: rgba(0, 0, 0, 0.65)
  }
}
