.st-page-route-nav {
  display: flex;
  .bg(@bg-gray);
  .h(100%);
  min-height: 80vh;
  &__title {
    .pd(36px);
  }
  &__navs {
    .w(300px);
  }
  &__content {
    flex: 1;
  }
  &__nav-item {
    .pd(18px 36px);
  }
  &__nav-link {
    .fz(14px);
    .c(@text-color);
  }
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 18px 36px !important;
  }
  .ant-tabs-tab-active {
    .bg(@white);
    .c(@heading-color);
  }
  .ant-tabs-right-bar {
    .fl-n;
  }
}
