.brand-setting-mina-index {
  .unAuth-component {
    .st-panel__body {
      display: flex;
      justify-content: center;
    }
    &__shadowbox {
      box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.05);
      padding: 40px 50px;
      width: 300px;
      height: 380px;
      margin: 0 12px;
      text-align: center;
      display: inline-block;
      img {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
      }
      p {
        text-align: left;
        margin-top: 16px;
        margin-bottom: 73px;
        height: 80px;
      }
    }
  }
}
