.st-recent-radio-goup{
    .ant-radio-button-wrapper{
      color:rgba(155,172,185,1);
      border:1px solid rgba(205,212,223,1);
      font-weight: 400;
      border-right: 0;
    }
    .ant-radio-button-wrapper-checked{
      border:1px solid rgba(205,212,223,1);
      background:rgba(247,249,252,1);
      font-weight:500;
      color:rgba(37,42,46,1);
      box-shadow: none;
      border-right: 0;
    }
    .ant-radio-button-wrapper:last-child{
      border-radius: 0;
    }
    &__range{
        vertical-align: bottom;
        .w(240px);
        &.active .ant-input{
          background:rgba(247,249,252,1);
          color:rgba(37,42,46,1);
          border-color: #cdd4df!important;
          box-shadow: none!important;
          input{
            font-weight:500;
          }
        }
        .ant-input{
          border-radius:0 4px 4px 0;
        }
        .ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled){
          border-color: #cdd4df;
          box-shadow: none;
        }
      }
  }
