.page-shop-setting-court-list {
  .court-item {
    border: 1px solid @border-color;
    border-radius: 2px;
    .bg(@white);
    .mg-b(24px);
    .pos-r;
    &:hover {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
      transition: all 0.3s;
      .court-item__del {
        opacity: 1;
      }
    }
    &__del {
      .pos-a;
      .s(40px, 40px);
      right: 0;
      top: 0;
      background: #fff0ed;
      border-radius: 0 0 0 6px;
      .ta-c;
      .lh(40px);
      .cur-p;
      opacity: 0;
      transition: all 0.3s;
      a {
        color: rgb(255,134,112);
      }
    }
    &__del-icon {
      font-size: 20px !important;
    }
    &__body {
      .pd(24px 24px 16px 24px);
      display: flex;
    }
    &__body-lt {
      flex: 0 0 24px;
    }
    &__body-rt {
      flex: 1;
      .mg-l(16px);
    }
    &__title-box {
      display: flex;
      align-items: center;
    }
    &__level-img {
      .w(26px);
      .mg-l(6px);
    }
    &__title {
      .mg-b(0);
    }
    &__content-box {
      display: flex;
      .mg-t(16px);
    }
    &__content-item {
      flex: 1;
    }
    &__label {
      .fz(12px);
      .lh(20px);
      .c(@text-light);
    }
    &__text {
      .fz(24px);
      .lh(32px);
      .c(@title);
      .mg-t(4px);
      .mg-b(0);
      font-weight: 500;
    }
    &__sub-text {
      .fz(14px);
      .lh(22px);
    }
    &__status {
      .fz(12px);
      .lh(24px);
      .ant-badge-status-dot {
        .s(4px, 4px);
      }
      &--success {
        .c(@success-color);
      }
      &--warning {
        .c(@warning-color);
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      .bg(#f7f9fa);
      .h(48px);
      border-top: 1px solid @border-color;
    }
    &__divider {
      .h(16px);
      .w(1px);
      .bg(#e8e8e8);
    }
    &__action {
      flex: 1;
      .ta-c;
      .lh(48px);
    }
  }

  .court-add {
    border: 1px dashed @border-color;
    .h(188px);
    border-radius: 2px;
    .c(@text-light);
    .fz(16px);
    .lh(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &:hover {
      border-color: @primary-color;
      .cur-p;
      .c(@primary-color);
    }
  }
}
