.product-course-manage-group-info-basic {
  &__column {
    display: flex;
    width: 100%;
  }
  &__item {
    width: 33%;
    margin-top: 28px;
    &-label {
      color: #252a2e;
    }
    &-value {
      color: #3e4d5c;
    }
  }
  .table {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(205, 212, 223, 1);
  }
}
