.page-shop-dashboard-club{
  display: flex;
  &__adv{
    flex:none;
    .w(280px);
    .pd(0);
    .mg-l(24px);
  }
  &__title{
    a{
      cursor: pointer;
      float: right;
      color:rgba(155,172,185,1);
      .fz(12px);
      .lh(12px);
      .mg-t(6px);
      .anticon{
        .mg-l(8px);
        vertical-align: text-bottom;
        line-height: inherit;
      }
    }
  }
    &-count{
      flex:1;
      &__date {
        font-size:14px;
        font-weight:400;
        color:rgba(155,172,185,1);
        line-height:28px;
        .lh(28px);
        .ta-r();
        .pd-r(48px);
      }
      &__refresh{
        .mg-l(8px);
        .pd(6px);
        .c(#9BACB9);
        .bg(#F7F9FC);
        .st-icon{
          font-size:16px!important;
        }
      }
      &__amount{
        .lh(48px);
        .mg-tb(13px,15px);
        span{
          .fz(32px);
          font-weight: 700;
          .c(rgba(37,42,46,1));
        }
      }
      &__title {
        font-size:16px;
        font-weight:500;
        color:rgba(62,77,92,1);
        line-height:22px;
      }
      .count1,
      .count2,
      .count3,
      .count4{
        font-weight:bold;
        color:rgba(37,42,46,1);
      }
      .count1{
        font-size:32px;
        line-height:40px;
      }
      .count2,
      .count3,
      .count4{
        font-size:20px;
        line-height:28px;
      }
    }
  }