.st-search-radio {
  /**
  * margin-bottom: -6px 抵消 .ant-radio-wrapper 的 margin-bottom: 6px
  */
  .mg-b(-6px);
  span.ant-radio + * {
    padding-left: 0;
  }
  &__label {
    display: inline-block;
  }
  &__label-text {
    display: inline-block;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s;
    .bg(transparent);
    .c(@heading-color);
    &:hover {
      .c(@primary-color);
    }
  }
  .ant-radio-wrapper {
    .mg-r(4px);
    .mg-b(6px);
  }
  .ant-radio-wrapper-checked {
    .st-search-radio__label-text {
      .bg(@dropdown-hover-bg-color);
      .c(@primary-color);
    }
  }

  .ant-radio {
    display: none;
  }
}
