.st-search-radio {
  &__label {
    display: inline-block;
    width: 116px;
  }
  &__label-text {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s;
    .bg(transparent);
    &:hover {
      .c(@primary-color);
    }
  }
  .ant-radio-wrapper-checked {
    .st-search-radio__label-text {
      .bg(@dropdown-hover-bg-color);
      .c(@primary-color);
    }
  }

  .ant-radio {
    display: none;
  }
}
