.st-search-radio {
  span.ant-radio + * {
    padding-left: 0;
  }
  &__label {
    display: inline-block;
    // .mg-b(4px);
  }
  &__label-text {
    display: inline-block;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s;
    .bg(transparent);
    &:hover {
      .c(@primary-color);
    }
  }
  .ant-radio-wrapper {
    .mg-r(4px);
  }
  .ant-radio-wrapper-checked {
    .st-search-radio__label-text {
      .bg(@dropdown-hover-bg-color);
      .c(@primary-color);
    }
  }

  .ant-radio {
    display: none;
  }
}
