.st-text {
  display: inline-block;
  .mg-r(8px);
  &__dot {
    .s(6px, 6px);
    border-radius: 50%;
    .mg-r(4px);
    display: inline-block;
  }
  &--none {
    .st-text__dot {
      display: none;
    }
  }
  &--success {
    .st-text__dot {
      .bg(#3dd49f);
    }
  }
  &--primary {
    .st-text__dot {
      .bg(@primary-color);
    }
  }
  &--warning {
    .st-text__dot {
      .bg(@warning-color);
    }
  }
  &--info {
    .st-text__dot {
      .bg(@info-color);
    }
  }
  &--default {
    .st-text__dot {
      .bg(rgba(black, 0.25));
    }
  }
  &--error {
    .st-text__dot {
      .bg(@error-color);
    }
  }
}
