// 分页样式覆盖
.ant-pagination-item {
  &-active {
    .bg(@primary-color);

    a {
      .c(@white);
    }

    &:hover a,
    &:focus a {
      .c(@white);
    }
  }

  &:focus {
    border-color: #d9d9d9;
  }
}

.ant-modal {
  .ant-modal-title {
    .lh(24px);
  }

  .ant-modal-close {
    .c(@text-light);

    &:focus,
    &:hover {
      .c(#444);
    }
  }

  .ant-modal-close-x {
    .w(42px);
    .fz(10px);
  }

  .ant-modal-footer {
    border-top: none;
  }
}
.ant-select-dropdown-menu-item{
  .pd(8px 12px);
}
// table样式重置
.ant-table-middle>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-header>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-header>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-thead>tr>th,
 .ant-table-middle>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-tbody>tr>td,
 .ant-table-middle>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-thead>tr>th {
   &:nth-of-type(1){
     padding-left: 24px;
   }
 }
 .ant-input::-webkit-input-placeholder {
  font-size:14px;
  font-family:HelveticaNeue;
  color:rgba(155,172,185,1);
  line-height:22px;
}
.ant-input::-moz-placeholder {
  font-size:14px;
  font-family:HelveticaNeue;
  color:rgba(155,172,185,1);
  line-height:22px;
}
.ant-input:-ms-input-placeholder {
  font-size:14px;
  font-family:HelveticaNeue;
  color:rgba(155,172,185,1);
  line-height:22px;
}
.ant-select-search__field__placeholder,
.ant-select-selection__placeholder {
  font-size:14px;
  font-family:HelveticaNeue;
  color:rgba(155,172,185,1);
  line-height:22px;
}