// 分页样式覆盖
.ant-pagination-item {
  &-active {
    .bg(@primary-color);

    a {
      .c(@white);
    }

    &:hover a,
    &:focus a {
      .c(@white);
    }
  }

  &:focus {
    border-color: #d9d9d9;
  }
}

.ant-modal-mask {
  .bg(rgba(0, 0, 0, 0.5));
}
.ant-modal {
  .ant-modal-title {
    .lh(24px);
  }

  .ant-modal-close {
    .c(@text-light);

    &:focus,
    &:hover {
      .c(#444);
    }
  }

  .ant-modal-close-x {
    .w(42px);
    .fz(10px);
  }

  .ant-modal-footer {
    border-top: none;
  }
}
.ant-select-dropdown-menu-item {
  .pd(8px 12px);
}

.ant-input::placeholder,
.ant-select-search__field__placeholder,
.ant-select-selection__placeholder,
.ant-calendar-range-picker-input::placeholder {
  color: rgba(155, 172, 185);
  font-size: 14px;
}
// 密码框placeholder样式覆盖
input[type='password']::placeholder {
  font-size: 14px;
}

// '›'.chartCodeAt().toString(16)
.ant-calendar-header .ant-calendar-prev-century-btn:after,
.ant-calendar-header .ant-calendar-prev-decade-btn:after,
.ant-calendar-header .ant-calendar-prev-year-btn:after {
  // «
  content: '\ab';
}
.ant-calendar-header .ant-calendar-prev-month-btn:after {
  // ‹
  content: '\2039';
}
.ant-calendar-header .ant-calendar-next-month-btn:after {
  // ›
  content: '\203a';
}
.ant-calendar-header .ant-calendar-next-century-btn:after,
.ant-calendar-header .ant-calendar-next-decade-btn:after,
.ant-calendar-header .ant-calendar-next-year-btn:after {
  // »
  content: '\bb';
}

.ant-spin-dot i {
  background-color: #9bacb9;
}

// 确认框样式修正
.ant-modal-confirm {
  top: 50%;
  .ant-modal-body {
    padding: 24px;
  }
  .ant-modal-content {
    transform: translateY(-50%);
  }
}

// switch按钮样式覆盖
.ant-radio-group {
  .ant-radio-button-wrapper {
    color: rgba(155, 172, 185, 1);
    font-weight: 400;
  }
  .ant-radio-button-wrapper-checked {
    background: rgba(247, 249, 252, 1);
    border-color: #cdd4df;
    color: rgba(37, 42, 46, 1);
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  }
}
// 按钮禁用样式
.ant-btn-primary[disabled] {
  background: #cdd4df;
  color: #fff;
  &:hover,
  &:active {
    background: #cdd4df;
    color: #fff;
  }
}

.ant-btn-dashed[disabled] {
  .bg(@bg-gray);
  .c(@text-light);
  border-color: @border-color;
  &:hover,
  &:active {
    .bg(@bg-gray);
    .c(@text-light);
    border-color: @border-color;
  }
}
