@gutters: 0, 8, 16, 24, 32, 40, 48, 56, 64;
.generate-spaces();
.generate-spaces(@i: 1) when (@i =< length(@gutters)) {
  @n: extract(@gutters, @i);
  #body {
    .mg-t@{n} {
      .mg-t(1px * @n);
    }
    .mg-b@{n} {
      .mg-b(1px * @n);
    }
    .mg-l@{n} {
      .mg-l(1px * @n);
    }
    .mg-r@{n} {
      .mg-r(1px * @n);
    }
    .mg-x@{n} {
      .mg-l(1px * @n);
      .mg-r(1px * @n);
    }
    .mg-y@{n} {
      .mg-t(1px * @n);
      .mg-b(1px * @n);
    }
    .pd-x@{n} {
      .pd-lr(1px * @n);
    }
    .pd-y@{n} {
      .pd-tb(1px * @n);
    }
  }
  .generate-spaces(@i + 1);
}

#body {
  .fl-r {
    float: right;
  }
  .ta-r {
    text-align: right;
  }
  .ta-c {
    text-align: center;
  }
  .ta-l {
    text-align: left;
  }
}

#body {
  // 用于修复表格组件的异常行为 添加到表格容器类中即可
  .tablefix {
    overflow: hidden;
  }
}
