// antd colors
// https://github.com/vueComponent/ant-design-vue/blob/master/components/style/themes/default.less
// --colors--
@primary-color: #3f66f6;
@info-color: @primary-color;
@link-color: #1890ff; // 链接色
@success-color: #00e881; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #ff5e41;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;

// Palette
@primary-1: ~`colorPalette('@{primary-color}', 1) `;
@primary-2: ~`colorPalette('@{primary-color}', 2) `;
@primary-3: ~`colorPalette('@{primary-color}', 3) `;
@primary-4: ~`colorPalette('@{primary-color}', 4) `;
@primary-5: ~`colorPalette('@{primary-color}', 5) `;
@primary-7: ~`colorPalette('@{primary-color}', 7) `;
@primary-8: ~`colorPalette('@{primary-color}', 8) `;
@primary-9: ~`colorPalette('@{primary-color}', 9) `;
@primary-10: ~`colorPalette('@{primary-color}', 10) `;

// base
@heading-color: #252a2e;
@text-color: #3e4d5c;
@text-color-secondary: #9bacb9;
@border-color-base: #cdd4df;
@link-color: @primary-color;

// app colors
@brand-color: #2c3153;
@border-color: @border-color-base;
@title: @heading-color;
@text: @text-color;
@danger: @error-color;
@text-light: @text-color-secondary;
@bg-gray: #F7F9FC;
// 分割线
@divider: #e6e9ef;


// Alert
@alert-info-bg-color: @primary-2;


@card-bg-color-first: #636aec;
@card-bg-color-second: #fa756c;
@card-bg-color-third: #525864;
@card-bg-color-fourth: #43cef0;

// table 
@table-bg-color-thead : #f7f9fc;
@table-bg-color-thead-second : #f5f6f8;
@table-bg-color-row-1: @white;
@table-bg-color-row-2: #fafafa;

// dropdown 
@dropdown-hover-bg-color: #ebefff;

// package
@package-bg-color-first: #6585F8;
@package-bg-color-second: #C1CEFC;
