.st-tabs {
  .ant-tabs-bar {
    .mg-b(0);
  }
  .ant-tabs-nav-wrap {
    .pd-lr(40px);
    padding-top: 16px;
  }
  .ant-tabs-tabpane {
    padding: 24px 32px;
  }
  .ant-tabs-tab {
    .pd-lr(0);
    margin-right: 48px;
  }
}
