.mch-tip {
  padding: 16px;
  background: rgba(247, 249, 252, 1);
  p {
    margin-bottom: 8px;
  }
  .tip-title {
    font-weight: 500;
    line-height: 20px;
  }
  .tip-p {
    font-size: 12px;
    line-height: 20px;
  }
}
