.page-brand-add-period-card.page-brand-basic-card {
    .page-admission-range-shop::after {
        left: 100px;
    }
    .page-support-sales-shop.page-lot-shop::after {
        left: 128px;
    }
    .page-price-setting-set.brand-set::after {
        left: 20px;
    }
    .page-price-setting-set.shop-set::after {
        left: 130px;
    }
}