.modal-sold-course-scope {
  &__team-table {
    position: relative;
    max-height: 279px;
  }
  &__course-item {
    display: flex;
    align-items: center;
  }
  &__checked {
    margin: 0 5px 0 4px;
  }
  &__name {
    flex: 1;
  }
  &__delete {
    margin-right: 41px;
  }
  &__popup-scroll {
    overflow: auto;
    height: 500px;
    padding: 5px;
  }
  &__personal-item {
    display: flex;
    align-items: center;
    > div {
      &:nth-of-type(1) {
        width: 5%;
      }
      &:nth-of-type(2) {
        width: 29%;
      }
      &:nth-of-type(3) {
        width: 34%;
      }
      &:nth-of-type(4) {
        width: 16%;
      }
      &:nth-of-type(5) {
        width: 16%;
      }
    }
  }
}
