.modal-sold-course-transfer {
  &__content {
    .mgb-18 {
      margin-bottom: 18px;
    }
    .mgb-24 {
      margin-bottom: 24px;
    }
  }
  &__info {
    &:not('.personal') {
      border-bottom: 1px solid @divider;
    }
  }
  &__table {
    width: 100%;
    margin-bottom: 32px;
    .table-header {
      height: 64px;
      .bg(@table-bg-color-thead-second);
    }
    .table-item {
      .lh(24px);
      border-bottom: 1px solid @divider;
      &:nth-child(even) {
        .bg(@table-bg-color-row-2);
      }
    }
  }
  &__transfer {
    padding: 24px 0 0;
    .add-text {
      margin: 4px 0 0;
      .fz(12px);
      .lh(22px);
      > span {
        .c(@link-color);
        cursor: pointer;
      }
    }
  }
  &__time {
    display: flex;
    align-items: center;
    > span {
      flex: none;
      height: 32px;
      margin: 0 4px 24px;
    }
    .page-a-form {
      flex: auto;
      .ant-form-item-control-wrapper {
        padding-left: 0;
      }
      .ant-calendar-picker {
        width: 100%;
      }
    }
  }
  &__contract {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .create-button {
      flex: none;
      margin-left: 8px;
    }
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    padding: 24px;
  }
}
