.modal-sold-deal-gathering-tip{
  &__content{
    text-align: center;
    padding-bottom: 22px;
    .img{
      font-size: 1em;
      color: currentcolor;
      width: 72px;
      height: 72px;
      margin: 36px 0 24px;
    }
    p{
      font-size: 24px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(37,42,46,1);
      line-height: 32px;
    }
    button{
      margin-right: 6px;
    }
  }
 
}