.modal-sold-deal-gathering{
  &__content{
    .mgb-18{
      margin-bottom: 18px;
    }
    .mgb-12{
      margin-bottom: 12px;
    }
    .mgb-24{
      margin-bottom: 24px;
    }
    .mgb-36{
      margin-bottom: 36px;
    }
  }
  &__info{
    border-bottom: 1px solid @divider;
  }
  &__gathering{
    padding: 18px 0 0;
    .total{
      .fz(20px);
      .lh(32px);
    }
  }
  .ant-modal-body{
    padding-bottom: 0;
  }
  .ant-modal-footer{
    padding: 24px;
  }
}