.modal-sold-deal-sale{
  &__content{
    .mgb-18{
      margin-bottom: 18px;
    }
    .mgb-12{
      margin-bottom: 12px;
    }
    .mgb-24{
      margin-bottom: 24px;
    }
  }
  &__info{
    border-bottom: 1px solid @divider;
  }
  &__sale{
    padding: 24px 0 18px;
    border-bottom: 1px solid @divider;
    .add-text{
      margin: 4px 0 0;
      .fz(12px);
      .lh(22px);
      >span{
        .c(@link-color);
        cursor: pointer;
      }
    }
    .total{
      .fz(20px);
      .lh(32px);
    }
  }
  &__contract{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .create-button{
      flex: none;
      margin-left: 8px;
    }
  }
  &__discounts{
    &-total{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        .c(@success-color);
      }
    }
    &-promotion{
      display: flex;
      align-items: center;
      span{
        .c(@link-color);
      }
      .c(@link-color);
    }
  }
  &__time{
    display: flex;
    align-items: center;
    >span{
      flex: none;
      height: 32px;
      margin: 0 4px 24px;
    }
    .page-a-form {
      flex: auto;
      .ant-form-item-control-wrapper {
        padding-left: 0;
      }
      .ant-calendar-picker {
        width: 100%;
      }
    }
  }
  &__remarks{
    padding: 24px 0;
  }
  &__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price{
      .fz(12px);
      font-weight: 400;
      .c(@text-light);
      span{
        vertical-align: middle;
      }
      >span:nth-of-type(1){
        margin-right: 8px;
        .fz(20px);
        .c(@text);
      }
    }
  }
  &__dropdown{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    .ant-menu{
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 4px;
      span{
        .c(@text-color);
      }
    }
  }
  &__discounts-promotion{
    cursor: pointer;
  }
  &__discounts{
    .ant-form-item-control-wrapper{
      overflow: inherit;
    }
  }
  &--disabled{
    cursor: not-allowed;
  }
  .ant-modal-body{
    padding-bottom: 0;
  }
  .ant-modal-footer{
    padding: 16px 24px;
    .bg(@bg-gray);
  }
  
}