.shop-store-add {
  &__img {
    float: left;
  }
  &__sku--add {
    border: 1px dashed #cdd4df;
    text-align: center;
    margin-bottom: 24px;
    height: 32px;
  }
  &__sku--item {
    border: 1px solid #cdd4df;
    padding-top: 24px;
    margin-bottom: 24px;
    &-del {
      float: right;
      margin-right: 24px;
    }
    &-icon {
      color: @primary-color;
      margin-right: 4px;
    }
    &-text {
      color: @text-color-secondary;
      cursor: pointer;
    }
    &-add {
      color: @primary-color;
      margin-left: 16px;
    }
  }
  &__class--manage {
    line-height: 32px;
  }
  &__apply--all {
    display: none;
  }
  &__apply:hover {
    .shop-store-add__apply--all {
      display: inline-block;
    }
  }
}
