.page-shop-store-list {
  &__search {
    padding: 24px 24px 15px 24px;
    display: flex;
    justify-content: flex-end;
  }
  &__add {
    flex: 1;
  }
  &__content {
    padding: 0 24px;
  }
}
.evengb {
  background: #fafafa;
}
