.brand-setting-mina-index {
  .coach-component {
    @h: 162px;
    .ant-col-4{
        .pd-tb(6px);
    }
    &__addbox,
    &__box {
      .ta-c();
      .h(@h);
      .pos-r;
      cursor: move;
      &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
        transition: all 0.3s;
        .coach-component__del{
          display: block;
        }
      }
    }
    &__nickname{
      .pd-lr(12px);
      line-height: 20px;
      margin-top: 6px;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &__del {
      display: none;
      .pos-a;
      .s(28px, 28px);
      right: 2px;
      top: 2px;
      background:rgba(255,240,237,1);
      border-radius: 2px;
      .ta-c;
      .lh(28px);
      .cur-p;
    }
    &__del-icon {
      font-size: 16px!important;
    }
    &__addbox {
      .lh(@h);
      border: 1px dashed #CDD4DF;
      cursor: pointer;
    }
    &__box {
      border: 1px solid #E6E9EF;
      img {
        .w(80px);
        .h(80px);
        .mg-tb(24px, 8px);
        .bd-r(50%);
      }
    }
  }
}
