.brand-setting-mina-index {
    .coach-component{
        @h: 162px;
        &__addbox,&__box{
            .ta-c();
            .h(@h);
        }
        &__addbox{
            .lh(@h);
            border:1px dashed #CDD4DF;
            cursor: pointer;
        }
        &__box{
            border: 1px solid #E6E9EF;
            img{
                .w(80px);
                .h(80px);
                .mg-tb(24px,8px);
                .bd-r(50%);
            }
        }
        .st-image-upload{
            .mg-tb(24px);
            .st-image-upload__placeholder{
                .fz(12px);
            }
        }
    }
}