.brand-setting-mina-index {
  .coach-component {
    @h: 162px;
    .ant-col-4{
        .pd-tb(6px);
    }
    &__addbox,
    &__box {
      .ta-c();
      .h(@h);
      .pos-r;
      &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
        transition: all 0.3s;
      }
    }
    &__del {
      .pos-a;
      .s(40px, 40px);
      right: 0;
      top: 0;
      background:rgba(0, 0, 0, 0.2);
      border-radius: 0 0 0 6px;
      .ta-c;
      .lh(40px);
      .cur-p;
    }
    &__del-icon {
      font-size: 20px!important;
      color: @white!important;
    }
    &__addbox {
      .lh(@h);
      border: 1px dashed #CDD4DF;
      cursor: pointer;
    }
    &__box {
      border: 1px solid #E6E9EF;
      img {
        .w(80px);
        .h(80px);
        .mg-tb(24px, 8px);
        .bd-r(50%);
      }
    }
  }
}
