.brand-setting-mina-index {
  .h5-wrapper-component {
    &__flexbox {
      display: flex;
    }

    &__left {
      .pd-tb(57px);
      .pd-lr(24px);
      .bg(#F7F9FC);
      .mg-l(-24px);
      .mg-t(-24px);
      .mg-r(17px);
    }

    &__right {
      flex: 1;
    }

    &__btn-group {
      .pos-f();
      bottom: 0;
      left: 224px;
      right: 24px;
      .bg(#fff);
      .pd(21px);
      .ta-c();
      z-index: 1;
      .ant-btn {
        .mg-lr(6px);
      }
    }
  }
}
