.brand-setting-mina-index {
  .h5-wrapper-component {
    .fixed {
      position: fixed;
      top: 40px;
    }
    &__flexbox {
      display: flex;
    }

    &__left {
      .pd-t(3px);
      .pd-lr(24px);
      .bg(#F7F9FC);
      .mg-l(-24px);
      .mg-t(-24px);
      .mg-r(17px);
      .w(406px);
      flex-shrink: 0;
      min-height: 644px;
    }

    &__right {
      flex: 1;
    }

    &__btn-group {
      .pos-f();
      bottom: 0;
      left: 224px;
      right: 24px;
      .bg(rgba(255,255,255,.8));
      .pd(21px);
      .ta-c();
      z-index: 1;
      box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
      .ant-btn {
        .mg-lr(6px);
      }
    }
    .ant-tabs-nav .ant-tabs-tab{
      padding: 5px 0px 12px;
    }
  }
}
