    .h5-component__scroll-wrapper{
        .pos-r();
        .bd-r(20px);
        overflow: hidden;
        .w(389px);
        margin: 0 auto;
        padding: 65px 40px;
        background-image: url('~@/assets/img/brand/setting/mina/phone.png');
        background-size: 100%;
    }
    .h5-component{
        padding: 0 12px 48px;
        .h(624px);
        border: 1px solid #eee;
        overflow-y: auto;
        &::-webkit-scrollbar {
            .s(0,0);
        }
        
        > .st-title--t3{
            .pd-t(10px);
            .h(34px);
        }
        &__slider{
            .h(180px);
            margin: 0 -12px;
            .swiper-container{
                height:100%;
                img{
                    .s(100%,100%);
                }
            }
        }
        &__header{
            display: flex;
            .h(50px);
            padding: 6px 0;
            border-bottom: 1px solid #F4F5F6;
            box-sizing: content-box;
            .imgBox{
                width:50px;
                .bg(#F4F5F6);
                .bd-r(50%);
            }
            .title{
                flex:1;
                .pd-t(8px);
                .pd-l(16px);
            }
        }
        &__action{
            display: flex;
            .pd-tb(12px);
            .pd-lr(0);
            .action-li{
                flex:1;
                .ta-c();
                >img{
                    .s(34px,34px);
                }
                >p{
                    .mg-b(0);
                }
            }
        }
        &__hr{
            .h(10px);
            .bg(#fafafa);
            .mg-tb(0);
            .mg-lr(-12px);
        }
        &__event{
            padding: 12px 0;
            .event-li{
                .h(58px);
                padding:5px;
                img{
                    .s(100%, 100%);
                    .bd-r(4px);
                }
                .img{
                    .bd-r(4px);
                    .bg(#F4F5F6);
                    .s(100%,100%);
                }
            }
        }
        &__coach-title{
            .mg-tb(8px);
            font-weight: 700;
        }
        &__coach{
            .mg-r(-12px);

            .coach-li{
                .w(100%);
                .pos-r();
                .ta-c();
                .via{
                    .s(120px,120px);
                    .bd-r(8px);
                    .bg(#F4F5F6);
                }
                .call{
                    .s(32px,32px);
                    .pos-a();
                    top:100px;
                    left: 50%;
                    .mg-l(-16px);
                }
                .st-title{
                    .mg-t(16px);
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p{
                    .mg-b(3px);
                    .fz(12px);
                    .c(#999);
                }
            }
        }
        &__course{
            > .st-title--t3{
                .mg-tb(8px);
                font-weight: 700;
            }
            > div > p{
                .fz(12px);
                .c(#999);

            }
            .swiper-container{
                height:100%;
                .mg-r(-12px);
                img{
                    .s(100%,100%);
                }
            }
        }
        &__imgbox{
            .mg-b(20px);
            img{
                .s(100%,100%);
            }
        }
        &__nav{
            display: flex;
            .pos-a();
            bottom: 66px;
            left: 41px;
            right: 41px;
            .bg(#fff);
            .pd-t(12px);
            z-index:1;
            .nav-li{
                flex:1;
                .ta-c();
                .fz(10px);
            }
            img{
                .s(24px,24px);
            }
        }
    }