.brand-setting-mina-index {
    .nav-component{
        &__box{
            .ta-c();
            border: 1px solid #E6E9EF;
            .pd(16px);
            >.st-form-item{
                .mg-b(16px);
            }
            >p{
                display: flex;
                .mg-t(9px);
                span{
                    flex:1;
                }
            }
        }
        .st-image-upload{
            .ta-c();
            .st-image-upload__placeholder{
                font-size: 12px;
            }
        }
        &__box-title{
            .ta-l();
            .bg(#F7F9FC);
            .pd-tb(15px);
            .pd-lr(14px);
        }
    }
}