.row-container-component {
  border-bottom: 1px solid #e6e9ef;
  padding-bottom: 24px;
  margin-bottom: 24px;
  margin-top: 2px;
  .st-title--t4 {
    padding-left: 10px;
    border-left: 2px solid #3f66f6;
    margin-bottom: 24px;
    .lh(12px);
    height: 12px;
    margin-top: -1px;
    > span {
      font-size: 12px;
      color: #9bacb9;
      margin-left: 12px;
      font-weight: normal;
    }
  }
}
.row-container-component-coach {
  padding-bottom: 14px;
}
