.st-search-panel-item {
  display: flex;
  margin-bottom: 16px;
  &__label {
    padding-top: 6px;
    line-height: 20px;
    .w(90px);
  }
  &__content {
    flex: 1;
  }

  .ant-checkbox-group {
    padding-top: 6px;
  }
  .ant-checkbox-wrapper {
    line-height: 20px;
  }
}
