.page-setting-sms-group {
  &__status {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    &-0 {
      background: #3f66f6;
    }
    &-3 {
      background: #ff5e41;
    }
    &-1 {
      background: #cccccc;
    }
    &-2 {
      background: #3dd49f;
    }
  }
}
.page-setting-sms-group-tooltip {
  max-width: 360px;

  .ant-tooltip-inner {
    background-color: #ffffff;
    color: #000;
  }

  .ant-tooltip-arrow {
    border-top-color: #ffffff;
  }
}
