.page-setting-sms-group {
  &__status {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
  }
}
.page-setting-sms-group-tooltip {
  max-width: 360px;

  .ant-tooltip-inner {
    background-color: #ffffff;
    color: #000;
  }

  .ant-tooltip-arrow {
    border-top-color: #ffffff;
  }
}
