.page-setting-sms-notice {
  &-item {
    &__table {
      .w(100%);

      &-tr {

        line-height: 54px;
        border-bottom: 1px solid @divider;

        .th {
          display: inline-block;
          .w(20%);
          background: rgba(247, 249, 252, 1);
        }
      }
    }
  }
}
