.page-setting-sms-notice {
  &-item {
    &__table {
      .w(100%);
      &-title {
        background: rgba(247, 249, 252, 1);
      }

      &-th {
        display: inline-block;
        .w(20%);
        .fz(14px);
        .ta-l;
        padding: 16px 0 16px 24px;

      }

      &-th:first-child {
        .w(150px);
        padding-left: 24px;
        box-sizing: border-box;
      }

      &-tr {
        border-bottom: 1px solid @divider;
      }
    }
  }
}
