.page-setting-sms-pay {
  &-count {
    display: flex;
    justify-content: space-between;
    padding: 0 0 24px 0;

    &__preview {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      .c(#7F93A3);
    }

    &__specify {
      display: flex;
      flex-direction: column;
      .w(80px);
      .mg-r(48px);
    }

    &__num {
      margin: 12px 0;
      .lh(36px);
      .c(@title);
      .fz(28px);
      font-weight: bold;
    }

    &__setting {
      .w(244px);
      .h(111px);
      padding: 12px 20px;
      background: rgba(245, 246, 248, 1);
    }
  }
}
