.page-setting-record {
  .row-tip-btn {
    flex: 1;
    text-align: right;
    line-height: 24px;
    > label {
      height: 32px;
      background: rgba(247, 249, 252, 1);
      border-radius: 4px;
      display: inline-block;
      padding: 5px 20px;
      color: #9bacb9;
      cursor: pointer;
    }
  }
  .import {
    color: #3dd49f;
  }
  .error {
    color: #ff5e41;
  }
}
