.page-setting-staff {
  &__tip {
    height: 52px;
    background: rgba(255, 94, 65, 0.1);
    line-height: 32px;
    margin: -24px -24px 0 -24px;
    padding: 10px 24px;
    color: #ff5e41;
  }
  &__tip-icon {
    color: rgb(255, 94, 65);
    margin-right: 9px;
  }
  &__row {
    margin-bottom: 32px;
    > p {
      margin: 0;
      line-height: 28px;
    }
  }
  &__row-tip {
    margin-top: 27px;
    margin-bottom: 24px;
    display: flex;
    > label {
      flex: 1;
      margin-left: 12px;
      line-height: 22px;
    }
  }
  &__footer {
    text-align: center;
  }
  &__download {
    margin-right: 56px;
  }
}
