.st-overflow-text {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  &__overlay {
    max-width: 380px;
  }
}
.ant-popover-inner-content {
  span {
    word-break: break-word;
  }
}
