.setting-sms-group {
  &__scroll {
    background: #f7f9fc;
    padding: 12px;
    height: 200px;
    overflow: auto;
    font-size: 12px;
    &-not {
      color: #9bacb9;
    }
  }
  &__save {
    display: flex;
    justify-content: space-between;
    &-btn {
      width: 140px;
    }
  }
}
