.st-search-panel {
  .bg(@bg-gray);
  padding: 0 24px;
  overflow: hidden;
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    .more {
      text-decoration: none;
    }
    .close {
      transform: rotateX(180deg);
    }
  }
}
