.brand-marketing-share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__tip {
    text-align: left;
    word-break: break-all;
    margin-bottom: 16px;
  }
  &__poster {
    width: 224px;
    height: 399px;
  }
  &__qrcode {
    width: 200px;
    height: 200px;
  }
  &__button {
    margin-top: 16px;
    width: 158px;
  }
}
