.shop-hour-picker {
  .slider {
    position: relative;
    height: 70px;

    .ant-slider-disabled .ant-slider-track {
      background-color: #40a9ff !important;
    }

    .ant-slider-disabled .ant-slider-handle {
      border-color: #1890ff !important;
    }

    &__title {
      position: absolute;
      font-size: 14px;
      left: 0;
      top: 10px;
      color: rgba(0, 0, 0, 0.85);
    }

    .ant-slider {
      width: 100%;
      display: inline-block;
    }

    .slider-copy-bottom {
      float: right;
      margin-top: 10px;
      cursor: pointer;
      color: rgb(64, 169, 255);

    }
  }

  &__title-box {
    height: 54px;

    &-time {
      display: flex;
    }

    &-time-comment {
      width: 25%
    }

    &-time-06 {
      padding-left: 4%;
      box-sizing: border-box;
      overflow: hidden;
    }

    &-time-12 {
      text-align: center;
    }

    &-time-18 {
      text-align: right;
      padding-right: 4%;
      box-sizing: border-box;
      overflow: hidden;
    }

    &-time-24 {
      text-align: right;
    }

    &-operate {
      text-align: right;
    }
  }

}

.shop-hour-picker-box {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 12px;

  .shop-hour-picker__title-box {
    background: rgba(250, 250, 250, 1);
    border-radius: 3px 3px 0px 0px;
    line-height: 54px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding-left: 20px
  }

  .slider__title {
    box-sizing: border-box;
    padding-left: 20px
  }

  .shop-hour-picker__title-box-operate {
    box-sizing: border-box;
    padding-right: 38px;
  }

  .slider-copy-bottom {
    box-sizing: border-box;
    padding-right: 24px;
  }
}

.slider-copy {
  display: block;

  .ant-checkbox-wrapper {
    padding: 6px;
  }

  .ant-checkbox-wrapper:nth-child(1) {
    padding-left: 12px;
  }
}
