.st-input {
  .ant-input-suffix {
    background: #fff;
  }
  input.ant-input:not(:last-child) {
    padding-right: 60px;
  }
  &__suffix {
    color: rgba(155, 172, 185, 1);
    line-height: 20px;
  }
}
