.modal-schedule-inbatch-add {
  .time-heade-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
  }
  .time-header__value {
    width: auto;
  }
  .ant-calendar-picker {
    width: 100%;
  }
}
