.modal-submit-remedial-info {
  font-size: 12px;
  font-weight: 400;
  color: #3e4d5c;
  .small-course-title {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #252a2e;
    line-height: 20px;
  }
  .small-course-item {
    margin-bottom: 8px;
    span {
      display: inline-block;
      width: 36px;
      color: #a9b7c2;
    }
  }
  .small-course-item div {
    display: inline-block;
  }
  .small-course-days,
  .small-course-court {
    width: 145px;
    margin-right: 50px;
  }
  .small-course-status {
    margin-bottom: 0;
  }
}
