.samll-course-message-popover {
  .ant-popover-inner-content {
    min-width: 198px;
  }
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: #3e4d5c;
  line-height: 17px;
  .small-course-title {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #252a2e;
    line-height: 20px;
  }
  .small-course-item {
    margin-bottom: 8px;
    span {
      display: inline-block;
      width: 36px;
      color: #a9b7c2;
    }
  }
  .small-course-status {
    margin-bottom: 0;
  }
}
.modal-reserved-info {
  display: flex;
  &__table {
    width: 100%;
    overflow: auto;
    .st-form-table__add-td {
      padding-left: 0 !important;
    }
  }
  .ant-divider,
  .ant-divider-vertical {
    margin: 0 4px;
  }
}
.st-form-table__add-option {
  .item-name,
  .item-phone {
    .c(#252a2e);
  }
  .item-phone {
    margin-left: 8px;
  }
}
.ant-select-selection-selected-value {
  .item-phone {
    display: none;
  }
}
