.page-createTeam-container{
    .page-upload-container{
        display: flex;
        align-items: center;
    }
    .page-course-photo-des{
        width: 156px;
        height: 114px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size:12px;
        font-family:PingFangSC-Regular;
        color:#000;
        opacity: .25;
        line-height:17px;
        .page-course-item{
            display: flex;
        }
        .page-course-item-tip{
            width: 10px;
        }
        .page-course-item-cont{
            
        }
    }
}