.modal-card-batch-shelves{
  &__info {
    display: flex;
  }
  &__card_bg {
    border-radius: 4px;
    margin-right: 12px;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    color: @text-light;
    > p {
      margin-bottom: 0;
    }
    &-title {
      display: flex;
      align-items: center;
      .fz(16px);
      .c(@title);
    }
    &-cards>span {
      .c(@primary-color);
      cursor: pointer;
    }
  }
  &__card-list-title{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  &__price {
    border: 1px solid @normal-color;
    border-radius: 4px;
    padding: 12px;
    &-error {
      border-color: @error-color;
    }
    &-valid-text {
      height: 24px;
      margin-bottom: 0;
      .c(@error-color);
    }
    th {
      padding: 16px 0;
      &:nth-of-type(1){
        padding: 0;
      }
    }
    td {
      height: 64px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      &:nth-of-type(1){
        padding: 0;
      }
    }
  }
  &__open-type {
    display: flex;
    padding-top: 5px;
  }
  &__day-input {
    .autoplay-card-day {
      display: flex;
      align-items: center;
      margin-top: 12px;
      &-input {
        width: 110px;
      }
      .page-a-form .ant-form-item-control-wrapper {
        padding-left: 0;
      }
    }
  }
  &__course {
    padding-top: 1px;
  }
  &__course-list {
    position: relative;
    border: 1px solid @normal-color;
    border-radius: 4px;
    padding: 12px;
    &::after {
      content: '';
      position: absolute;
      .s(10px,10px);
      transform: rotate(45deg);
      top: -6px;
      left: 123px;
      border-left: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      .bg(#fff);
    }
    .tx-c{
      text-align: center;
    }
    >table{
      width: 100%;
      th,td {
        padding: 16px 0;
      }
      tr:not(.head){
        border-bottom: 1px solid @divider;
      }
      .add-button:not(.head) {
        border-bottom: none;
        td {
          padding: 8px 0;
        }
      }
      .head {
        .bg(@table-bg-color-thead);
        border-bottom: 1px solid @divider;
      }
    }
  }
  &__none {
    td {
      text-align: center;
    }
    .bg(@table-bg-color-row-2);
  }
  &__show-more,&__hide-more {
    .c(@primary-color);
    cursor: pointer;
  }
  &__admission-time-validata {
    .c(@error-color);
  }
  &__tree {
    padding: 12px 24px 24px;
    border: 1px solid @divider;
    border-radius: 4px;
    .bg(@white);
    &-search .ant-input{
      .bg(#CDD4DF);
      border-radius: 20px;
      .c(@text-light);
    }
    &-title-span {
      color: @primary-color;
    }
  }
  &__footer {
    padding-bottom: 14px;
  }
}