.modal-card-batch-shelves1 {

  &-title {
    margin-bottom: 24px;
    display: flex;

  }

  &-img {
    width: 143px;
    height: 80px;
    background: linear-gradient(90deg, rgba(89, 147, 255, 1) 0%, rgba(92, 66, 222, 1) 100%);
    border-radius: 4px;
    margin-right: 12px;
  }

  &-info {
    display: flex;
    flex-direction: column;
  }

  &-info-batch {
    margin-bottom: 8px;
  }

  &-info-term-card {
    margin-bottom: 8px;

    .term-card {
      width: 52px;
      height: 22px;
      display: inline-block;
      line-height: 22px;
      text-align: center;
      background: rgba(230, 247, 255, 1);
      border-radius: 4px;
      margin-right: 8px;
    }

  }

  &-info-batch {
    height: 22px;
    line-height: 22px;
  }

  &-info-channel {
    .channel {
      margin-right: 8px;
    }
  }



  &-table {
    position: relative;

    .ant-table-wrapper {
      border-radius: 4px;
      border: 1px solid rgba(217, 217, 217, 1);
    }
  }


  .selling-mode {
    margin-top: 24px
  }

  .selling-mode-checkbox-group {
    display: flex;
  }

  .shop-card-box {
    display: flex;
    flex-direction: column;
  }

  .autoplay-card-day {
    position: relative;
  }

  .autoplay-card-day-input {
    width: 64px;
    margin-top: 8px
  }

  .autoplay-card-day-text {
    position: absolute;
    margin-top: 14px;
    left: 45px;
  }

  .legal-righ-radio {
    display: flex;
  }

  .legal-righ-title {
    margin-right: 24px
  }

  .designated-courses {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    position: relative;
    margin-top: 10px;
  }

  .triangle {
    position: absolute;
    top: -20px;
    left: 76px;
  }

  .triangle:before,
  .triangle:after {
    position: absolute;
    content: '';
    border-top: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-bottom: 10px #fff solid;
  }

  .triangle:before {
    border-bottom: 10px rgb(217, 217, 217) solid;
  }

  .triangle:after {
    top: 1px;
    /*覆盖并错开1px*/
    border-bottom: 10px #fff solid;
  }

  .editable-add-btn {
    margin-top: 8px;
    width: 100%
  }

  .footer {
    text-align: right;
    margin-top: 24px;

    .cancel {
      margin-right: 8px
    }
  }
}
