.modal-card-recovery-sell {
  &-tips {
    margin-bottom: 32px;
    display: flex;
    align-items: baseline
  }

  .icon {
    color: #1890FF;
    padding-right: 8px;
    font-size: 14px
  }

  &-type-box {
    margin-bottom: 24px;
  }

  &-type {
    margin-right: 16px;
    display: inline-block;
    color: #1890FF;
    width: 52px;
    height: 22px;
    background: rgba(230, 247, 255, 1);
    border-radius: 4px;
    line-height: 22px;
    text-align: center;
  }

  &-info-box {
    margin-bottom: 16px;
  }

  &-notes {
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.25);
  }

  &-stop-reason {
    margin-top: 12px;
  }

  .ant-form-item-label {
    text-align: initial;
  }

  .stop-info {
    margin-bottom: 16px;
  }

  .footer {
    text-align: right;
    margin-top: 24px
  }

  .cancel {
    margin-right: 8px
  }
}
