.role-list{
  display: flex;
  .brand-list,
  .shop-list{
    flex: 1;
    height: 516px;
    overflow-y: auto;
  }
  .shop-list::-webkit-scrollbar,.brand-list::-webkit-scrollbar {
    display:none
  }
}
.page-role-info__add {
  padding: 24px 24px 0 0;
}