
.page-role-info{
  &__edit{
    .jurisdiction {
      display: flex;
      .brand-list {
        margin-right: 12px;
      }
      .shop-list,
      .brand-list{
        width: 387px;
        .role-tree{
          height: 500px;
          overflow: auto;
        }
      }
    }
  }
}