
.page-role-info{
  &__edit{
    .jurisdiction {
      display: flex;
      .brand-list {
        margin-right: 12px;
      }
      .shop-list,
      .brand-list{
        width: 387px;
        height: 500px;
        overflow-y: auto;
      }
      .shop-list::-webkit-scrollbar,.brand-list::-webkit-scrollbar {
        display:none
      }
    }
  }
}