.page-role-detail{
  .item{
    border-bottom: 1px solid rgba(230,233,239,1);
    .label{
      width:70px;
      font-size:14px;
      font-weight:400;
      color:rgba(37,42,46,1);
      line-height:22px;
    }
    .value{
      font-size:14px;
      font-weight:400;
      color:rgba(62,77,92,1);
      line-height:22px;
    }
  }
  .first{
    padding-bottom: 24px;
  }
  &__funrole{
    display: flex;
    .content{
      flex: 1;
    }
  }
  
  .shop-list
  .brand-list{
    height: 600px;
    overflow: auto;
  }
  .shop-list{
    height: 600px;
    overflow: auto;
  }
}