.page-shop-store-stock-list-detail {
  &__search {
    display: flex;
    margin-bottom: 16px;
    justify-content: flex-end;
    &-select {
      .w(130px);
      margin-left: 12px;
    }
    &-time {
      .w(296px);
      margin-left: 12px;
    }
  }
}
