.modal-shop-finance-split{
  &__descrip{
    >label{
      display: block;
      padding: 24px 0 8px 0;
    }
    
  }
  &__select{
    width: 118px;
  }
  .ant-modal-body{
    padding-bottom: 0;
  }
  .ant-modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    .info{
      display: flex;
      align-items: center;
      margin-right: 16px;
      .fz(12px);
      .c(@danger);
    }
  }
}