.page-shop-reception {
  &__form-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 222.4px;
      box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
      .bg(@white);
      &+&{
        margin-left: 20px;
      }
    }
    &-detail {
      display: flex;
      flex: 1;
      padding: 20px 20px 12px;
    }
    &-number {
      flex: 1;
      >p:nth-of-type(1){
        margin: 0 0 11px;
        .lh(20px);
        .fz(14px);
        .c(@text-light);
      }
      .number-up{
        margin: 0;
        .lh(37px);
        .c(@title);
        .fz(32px);
        font-weight: bold;
      }
      >span {
        font-size: 32px;
        .lh(1);
        font-weight: bold;
      }
    }
    &-chart {
      flex: 1;
      width: 50%;
      min-width: 80px;
      height: 60px;
    }
    &-nonedata {
      position: relative;
      width: 50%;
      min-width: 80px;
      &::before,&::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        .bg(@divider);
        top: 50%;
        left: 0;
      }
      &::after {
        top: 100%;
      }
    }
    &-button {
      padding: 10px 20px;
      .bg(@bg-gray);
      .c(@link-color);
      cursor: pointer;
      span[disabled]{
        color: @border-color;
      }
    }
  }
  &__operation-list {
    display: flex;
    min-width: 1192px;
    padding: 32px 0;
    align-items: center;
    justify-content: space-evenly;
    .bg(@white);
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
  }
  &__operation-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    >p:nth-of-type(1){
      display: flex;
      width: 64px;
      height: 64px;
      margin-bottom: 12px;
      align-items: center;
      justify-content: center;
      background:linear-gradient(90deg,rgba(63,102,246,1) 0%,rgba(63,170,255,1) 100%);
      border-radius: 50%;
      .c(@white);
      font-size: 26px;
    }
    >p:nth-of-type(2){
      margin-bottom: 0;
      .fz(14px);
      .c(@title);
    }
    &[disabled]{
      cursor: initial;
      >p:nth-of-type(1){
        .bg(@border-color);
      }
      >p:nth-of-type(2){
        color: @border-color;
      }
    }
  }
  &__opertaion-line {
    width: 1px;
    height: 48px;
    .bg(@divider);
  }
  &__member-todoist{
    display: flex;
    justify-content: space-between;
  }
  &__member {
    flex: 495;
    min-width: 495px;
    margin-right: 24px;
    height: 517px;
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
    .bg(@white);
    &-search {
      position: relative;
      display: flex;
      height: 64px;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 16px;
        background:linear-gradient(360deg,rgba(244,246,248,0) 0%,rgba(230,233,239,0.4) 100%);
        bottom: -16px;
        left: 0;
      }
      &-select {
        min-width: 376px;
        flex: 1;
        margin-right: 12px;
        .ant-select-selection {
          border-radius: 20px;
          .bg(rgba(234, 238, 244, 1));
          border-color: rgba(0,0,0,0);
          box-shadow: none !important;
        }
        .ant-select-selection__clear {
          .bg(rgba(234, 238, 244, 1));
        }
      }
    }
  }
  &__info {
    padding: 24px;
  }
  &__personal-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @divider;
    padding-bottom:18px;
    >div:nth-of-type(1){
      flex: auto;
    }
    .imgPlaceholder {
      .s(180px, 180px);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__upload {
    flex: none;
  }
  &__set-info {
    padding-top: 24px;
    >.set-info-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .set-info-label {
        width: 56px;
        margin-right: 16px;
        text-align: right;
        .fz(14px);
        .lh(22px);
      }
      .set-info-value {
        flex: 1;
        .lh(32px);
      }
      .set-info-select {
        flex: 1;
        &.entrance-item {
          width: calc(100% - 72px);
        }
      }
    }
  }
  &__todoist {
    flex: 674;
    min-width: 674px;
    height: 517px;
    box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
    .todoist-tabs {
      .ant-tabs-bar.ant-tabs-top-bar {
        .bg(@white);
        padding-left: 24px;
        padding-top: 21px;
        margin-bottom: 0;
      }
      .ant-tabs-nav .ant-tabs-tab {
        padding: 12px 0;
        margin: 0 64px 0 0;
      }
    }
    &-to-do {
      height: 452px;
      padding: 12px 24px 24px;
      .to-do-add {
        width: 100%;
        margin-bottom: 12px;
      }
      &-list {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 372px;
        >li {
          flex: 1;
          min-width: 307px;
          height: 116px;
          padding: 16px;
          .bg(@white);
          box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
          .to-do-main {
            display: flex;
            align-items: center;
            .operation-photo {
              border-radius: 50%;
            }
            .operation-name{
              .s(48px,48px);
              border-radius: 50%;
              .fz(14px);
              font-weight: 500;
              .lh(48px);
              text-align: center;
              .bg(@primary-color);
              .c(@white);
            }
            >p{
              width: calc(100% - 60px);
              margin-left: 12px;
              margin-bottom: 0;
              span {
                display: block;
                .fz(14px);
                .lh(22px);
                .c(@title);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &+span {
                  margin-top: 4px;
                  .fz(12px);
                  .lh(20px);
                  .c(@text);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
          .operation-time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 60px;
            margin-top: 18px;
            .fz(12px);
            .lh(20px);
            .c(@text-light);
            font-weight: bold;
            .to-do-button {
              width: 60px;
              height: 20px;
              .lh(20px);
              .fz(12px);
              .c(@primary-color);
              border:1px solid rgba(63,102,246,0.5);
              border-radius: 20px;
            }
          }
        }
      }
    }
    &-finish-list {
      position: relative;
      display: flex;
      height: 416px;
      padding: 0 24px;
      margin-top: 12px;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      >li {
        flex: 1;
        min-width: 307px;
        height: 116px;
        padding: 16px;
        .bg(@white);
        box-shadow:0px 1px 10px 1px rgba(0,0,0,0.05);
        .finish-main {
          display: flex;
          align-items: center;
          .operation-photo {
            border-radius: 50%;
          }
          .operation-name{
            .s(48px,48px);
            border-radius: 50%;
            .fz(14px);
            font-weight: 500;
            .lh(48px);
            text-align: center;
            .bg(@primary-color);
            .c(@white);
          }
          >p{
            width: calc(100% - 60px);
            margin-left: 12px;
            margin-bottom: 0;
            span {
              display: block;
              .fz(14px);
              .lh(22px);
              .c(@title);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              &+span {
                margin-top: 4px;
                .fz(12px);
                .lh(20px);
                .c(@text);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
        .operation-time {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 60px;
          margin-top: 18px;
          .fz(12px);
          .lh(20px);
          .c(@text-light);
          font-weight: bold;
          .finish-status {
            width: 60px;
            height: 20px;
            .lh(20px);
            .fz(12px);
            .c(@success-color);
          }
        }
      }
    }
  }
  .none-item {
    .bg(rgba(0,0,0,0));
    box-shadow: none;
  }
  &__cabinet-edit {
    .set-info-edit-label {
      margin-right: 16px;
    }
    .set-info-edit-select {
      flex: 1;
      margin-right: 12px;
    }
    .set-info-edit-button {
      margin-left: 8px;
    }
  }
  .fw-600 {
    font-weight: 600;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-f2s {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}