.model-leave-store-container{
    &_tip{
        font-size:14px;
        font-family:PingFangSC-Regular;
        padding: 4px 0;
        color: #000;
        opacity: .65;
    }
    &_info{
        width: 100%;
        padding: 16px 0;
        padding-left: 12px;
        box-sizing: border-box;
        background: #F5F5F5;
        opacity: .5;
    }
    &_same{
        font-size:12px;
        font-family:PingFangSC-Regular;
        color: #000;
        // opacity: .5;
        padding: 4px 0;
    }
}