.page-shop-add-unlimit-package{
  &__course{
    padding: 12px;
    border: 1px solid @border-color;
    border-radius: 4px;
    tr{
      height: 56px;
    }
    .tg-c{
      text-align: center;
    }
    .pr-32{
      padding-right: 32px;
    }
    .ant-checkbox-wrapper{
      margin: 0;
    }
    .bg-thead {
      .bg(@table-bg-color-thead);
    }
    .bg-row-team {
      .bg(@table-bg-color-row-1);
    }
    .bg-row-personal {
      .bg(@table-bg-color-row-2);
    }
  }
}