.page-shop-package-list {
  &__operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__select + &__select {
    margin-left: 8px;
  }
  .mgl-16{
    .mg-l(16px);
  }
  .tooltip-span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
  }
}