.page-group-course-info {
  &__tip {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    .item {
      width: 50%;
    }
  }
  &__title {
    display: block;
    padding: 24px;
  }
  &__title-action {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e9ef;
  }

  .label {
    width: 80px;
    .c(rgba(0, 0, 0, 0.85));
    .mg-r(8px);
  }
  .value {
    .c(rgba(0, 0, 0, 0.65));
    .mg-t(16px);
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: none;
    img {
      .s(268px, 150px);
    }
  }
}
