.effective,.invalid,.frozen{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.effective{
  background: @success-color;
}
.invalid{
  background: #000000;
  opacity: .25;
}
.frozen{
  background: #FF5E41;
}

