.member-info-sold {
  &__is_checkin_yes {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #52c41a;
  }

  &__is_checkin_no {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #f5222d;
  }
}
