// 表单重置
.st-form {
  .ant-form-item {
    display: flex;
    &:last-child {
      .mg-b(0);
    }
    // 第一个form-item 的样式bottom
    &:first-child {
      .mg-b(24px);
    }
  }
  .ant-form-item-label {
    .lh(32px);
    .w(88px);
    label {
      .mg-r(0);
      &:after {
        content: none;
      }
    }
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }
  .ant-form-item-control {
    .lh(32px);
    .mg-l(24px);
  }
  // 修正checkbox位置
  .ant-checkbox-wrapper {
    .mg-l(0);
    .mg-r(16px);
  }
  // 修正radio位置
  .ant-radio-wrapper {
    .mg-l(0);
    .mg-r(16px);
  }
  &__offset-label {
    // 88 + 24 px
    .mg-l(112px);
  }
}

.st-form-section {
  &__header {
    .pd(16px);
  }
  &__title {
    .fz(16px);
    .lh(24px);
    font-weight: 500;
    .c(@title);
  }
  &__body {
    .pd(24px);
  }
}
