// club
.layout-default {
  &.ant-layout.ant-layout-has-sider > .ant-layout, 
  &.ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow-x: auto;
  }
  &-sider {
    position: fixed;
    .h(100vh);
    .pd-t(26px);
    top: 0;
    left: 0;
    .bg(@brand-color);
    z-index: 99;
    &__brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      .mg-b(32px);
    }
    &__logo {
      .pos-r();
      .s(48px,48px);
      .bg(#101920);
      .mg-b(20px);
      border: 2px solid #8B8DA0;
      border-radius: 8px;
    }
    &__certification {
      .pos-a;
      right: -10px;
      bottom: -6px;
    }
    &__name {
      display: flex;
      align-items: center;
      .c(#fff);
      >span {
        .mg-r(6px);
        .fz(16px);
        .lh(24px);
        font-weight: 500;
      }
    }
    &__scrollbox{
      position: relative;
      height: calc(100vh - 150px);
      // overflow: auto;
    }
    &__often {
      .pd-l(8px);
      &-title {
        .pd-l(16px);
        .fz(12px);
        .lh(20px);
        .c(rgba(255,255,255,.45));
      }
      &-list {
        .fz(12px);
        .lh(20px);
        .pd-l(28px);
        .c(rgba(255,255,255,.65));
      }
      &-item {
        .ov-h();
        .pd-tb(8px,8px);
        &::before{
          display: inline-block;
          content: '';
          .s(8px,8px);
          .bg(#60647E);
          .mg-r(6px);
        }
        &&--active {
          .c(#fff);
          &::before{
            .bg(#fff);
          }
        }
      }
    }
    &__menu {
      .w(200px);
      &.ant-menu-dark{
        .bg(@brand-color);
      }
      &.ant-menu-dark .ant-menu-sub{
        .bg(@brand-color);
      }
    }
  }
  &-body {
    margin-left: 200px;
    min-height: 100vh;
    .bg(rgba(240,242,245,1));
    &__header {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pd-lr(24px);
      .bg(rgba(240,242,245,1));
      left: 200px;
      right: 0;
      z-index: 99;
    }
    &__location {
      display: flex;
      align-items: center;
      > h2 {
        .fz(16px);
        .lh(24px);
        color: @brand-color;
      }
    }
    &__line {
      .mg-lr(24px);
      .s(1px ,32px);
      .bg(rgba(0,0,0,.1));
    }
    &__personal {
      display: flex;
      align-items: center;
    }
    &__icon {
      .fz(20px);
      .c(@white);
    }
    &__avatar {
      display: flex;
      align-items: center;
      .h(64px);
      .mg-l(24px);
      > img {
        .lh(0);
        .bg(#ccc);
        border-radius: 4px;
      }
    }
    &__dropdown {
      .w(180px);
      box-shadow:0px 2px 8px 0px rgba(0,0,0,0.15);
      border-radius:4px;
      .bg(#fff);
      .pd-t(8px);
      .ov-h();
    }
    &__username {
      padding: 16px 24px;
    }
    &__name {
      .fz(18px);
      .lh(26px);
      .c(rgba(0,0,0,.85));
      margin:0;
    }
    &__mobile {
      .fz(14px);
      .lh(22px);
      .c(rgba(0,0,0,.65));
      margin:0;
    }
    &__options.ant-menu-item {
      .h(36px);
      .lh(36px);
      .fz(14px);
      .c(rgba(0,0,0,.85));
      .pd-l(24px);
      span{
        .mg-l(8px);
      }
      &:hover {
        .bg(rgba(0,147,255,0.04));
      }
    }
    &__breadtext {
      .fz(12px);
    }
    &__content {
      .pos-r();
      z-index: 1;
      .mg-lr(24px);
      .h(100%);
      padding-top: 64px;
      &::after {
        content: '';
        position: fixed;
        top: 64px;
        left: 200px;
        right: 0;
        height: 76px;
        .bg(rgba(240,242,245,1));
        z-index: -1;
      }
    }
    &__footer {
      text-align: center;
      .fz(12px);
      .c(rgba(0,0,0,.45));
      .pd-tb(24px);
    }
  }
}

// team 
.layout-default {
  &-sider {
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      .bg(#e8e8e8);
    }
    .bg(@white);
    &__logo {
      .bg(#fdfdfd);
      border: 2px solid #8B8DA0;
    }
    &__name {
      .c(#000);
    }
    &__often {
      &-title {
        .c(rgba(0,0,0,.45));
      }
      &-list {
        .c(rgba(0,0,0,.25));
      }
      &-item {
        &::before{
          .bg(rgba(0,0,0,.25));
        }
        &&--active {
          .c(@primary-color);
          &::before{
            .bg(@primary-color);
          }
        }
      }
    }
    &__menu {
      &.ant-menu-dark{
        .bg(@white);
      }
      &.ant-menu-dark .ant-menu-sub{
        .bg(@white);
      }
    }
  }
  &-body {
    &__header {
      .bg(@brand-color);
    }
    &__content {
      &::after {
        .bg(@brand-color);
      }
    }
    &__location {
      > h2 {
        color: @white;
      }
    }
    &__line {
      .bg(rgba(255,255,255,.25));
    }
    &__avatar {
      > img {
        .bg(#ccc);
      }
    }
    &__location {
      .ant-breadcrumb-separator {
        .c(@white);
      }
    }
    &__breadtext {
      .c(@white);
    }
  }
}
