.ske-holder() {
  height: 24px;
  .bg(rgba(139, 144, 176, 0.15));
}
.ske-tile() {
  .bg(white);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

.layout-skeleton {
  filter: blur(3px);
  .aside {
    .pos-f;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    .w(200px);
    .bg(#2c3153);
    .pd(24px);
    .ta-c;
  }
  .main {
    margin-left: 200px;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;
    &__h-1,
    &__h-2,
    &__h-3 {
      display: inline-block;
      .ske-holder;
      height: 32px;
      border-radius: 4px;
    }

    &__lt {
      flex: 1;
    }
    &__rt {
      flex: 1;
      .ta-r;
    }
    &__h-1 {
      .w(180px);
    }
    &__h-2 {
      .w(120px);
    }
    &__h-3 {
      .mg-l(8px);
      .w(32px);
    }
  }
  .body {
    .mg-t(12px);
    display: flex;
    flex: 1;
    &__content {
      flex: 1;
    }
    &__sider {
      margin-left: 24px;
      .w(280px);
    }
  }
}
