// 表单重置
.st-form {
  .ant-form-item {
    display: flex;
  }
  .ant-form-item-label {
    .lh(32px);
    .w(88px);
    label {
      .mg-r(0);
      &:after {
        content: none;
      }
    }
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }
  .ant-form-item-control {
    .lh(32px);
    .mg-l(24px);
  }
  // 修正checkbox位置
  .ant-checkbox-wrapper {
    .mg-l(0);
    .mg-r(16px);
  }
  // 修正radio位置
  .ant-radio-wrapper {
    .mg-l(0);
    .mg-r(16px);
  }
  &__offset-label {
    // 88 + 24 px
    .mg-l(112px);
  }
  &--is-label-3 {
    .ant-form-item-label {
      .w(136px);
    }
    .st-form__offset-label {
      // 136 + 24 px
      .mg-l(160px);
    }
  }
}
