.nc-container {
  .nc_wrapper,
  .errloading {
    width: 100%!important;
    .mg-b(24px);
  }
  .nc_wrapper {
    border-radius: 4px;
    .ov-h;
  }
  .nc_scale {
    .h(40px);
    span,
    .btn_slide {
      border-radius: 4px;
      .h(40px);
      .lh(40px);
    }
    .nc-lang-cnt,
    .btn_ok {
      .h(40px);
      .lh(40px);
    }
  }
  .nc-scrape {
    .nc-canvas {
      .mg-b(24px);
    }
  }
}