.st-plugin-form-title {
  font-weight: 500;
  .c(@title);
  .fz(16px);
  .lh(22px);
  .mg-b(16px);
  &__sub-title {
    .mg-l(8px);
    .fw-n;
    .fz(12px);
    .c(@text-light);
  }
  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 12px;
    .bg(@text-light);
  }
}
