.page-shop-flow-income {
  .price__red {
    color: #ff5e41;
  }
  .search-item {
    display: flex;
    align-items: center;
    .label {
      width: 90px;
      display: block;
      font-size: 14px;
      color: rgba(62, 77, 92, 1);
      line-height: 22px;
    }
  }

  .search {
    .amount__input {
      width: 200px;
    }
    &__radio {
    }
  }
}
